[global]
$;PREFIX$; = ${input.OUTPUT_PREFIX}

[split_multifasta default]
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}

[RNAmmer default]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate_prediction]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[run_command calculate_cpu_hours]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c params.SCALE_FACTOR=25 -c input.POLYPEPTIDE_TAG=$;PIPELINEID$;_polypeptides -c misc.PROGRAM=blastp -c cluster.CLUSTER_NAME=local "filter-keys input.POLYPEPTIDE_TAG misc.PROGRAM cluster.CLUSTER_NAME params.SCALE_FACTOR | sequence-stats | blast-calculate-cpu-hours"`
$;COMMAND_STDOUT$; = $;OUTPUT_DIRECTORY$;/calculate_cpu_hours.stdout

[run_command resize_cluster]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | calculate-instances | resize-cluster"`

[run_command set_ergatis_values]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta translate | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out

[run_command set_hmmpfam_groupcount]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES | translate-keys parameters=TOTAL_FILES=component.GROUP_COUNT | set-ergatis-component-values hmmpfam pre_overlap_analysis | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_hmmpfam_groupcount.out

[hmmpfam pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;HMM_INFO_FILE$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db

[ncbi-blastx pre_overlap_analysis]
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/uniref100/uniref100.fasta

[ber pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;PROTEIN_DB$; = ${input.DATABASE_PATH}/db/uniref100/uniref100.fasta

[overlap_analysis default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[start_site_curation default]
$;CHARACTERIZED_DB$; = ${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db
$;HMM_CODING_DB$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db

[run_command calculate_cpu_hours_post]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c params.SCALE_FACTOR=25 -c input.POLYPEPTIDE_TAG=$;PIPELINEID$;_post_polypeptides -c misc.PROGRAM=blastp -c cluster.CLUSTER_NAME=local "filter-keys input.POLYPEPTIDE_TAG misc.PROGRAM cluster.CLUSTER_NAME params.SCALE_FACTOR | sequence-stats | blast-calculate-cpu-hours"`
$;COMMAND_STDOUT$; = $;OUTPUT_DIRECTORY$;/calculate_cpu_hours.stdout

[run_command resize_cluster_post]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | calculate-instances | resize-cluster"`

[run_command set_ergatis_values_post]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta post_overlap_analysis | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out

[run_command set_hmmpfam_groupcount_post]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES | translate-keys parameters=TOTAL_FILES=component.GROUP_COUNT | set-ergatis-component-values hmmpfam post_overlap_analysis | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_hmmpfam_groupcount_post.out

[hmmpfam post_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;HMM_INFO_FILE$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db

[ncbi-blastx post_overlap_analysis]
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/uniref100/uniref100.fasta

[ber post_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;PROTEIN_DB$; = ${input.DATABASE_PATH}/db/uniref100/uniref100.fasta

[translate_sequence final_polypeptides]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[ncbi-blastp COGS]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/ncbi/COG/myva

[parse_evidence hmmpfam_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs

[parse_evidence hmmpfam_post]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs

[parse_evidence ber_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = char_db=${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles

[parse_evidence ber_post]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = char_db=${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles

[parse_evidence hypothetical]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[p_func default]
$;OUTPUT_FILE_BASE_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;ROLES_DB_DIR$; = ${input.DATABASE_PATH}/db/tigr_roles

[pipeline_summary default]
$;LOCUS_PREFIX$; = ${input.OUTPUT_PREFIX}
$;ORGANISM$; = ${input.ORGANISM}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;COG_LOOKUP$; = ${input.DATABASE_PATH}/db/ncbi/COG/whog

[bsml2tbl default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tbl2asn default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tag_data clovr_microbe_annotation]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
