[interface]
classification = utility

[parameters]
;; This component tags data using the CloVR tagData.py script
;; Input is a hard-coded template file generated prior to the
;; execution of this component.
$;REPO_ROOT$; = $;REPOSITORY_ROOT$;
$;PIPELINE_ID$; = $;PIPELINEID$;
$;PIPELINE_NAME$; =
$;FLATTEN$; = 

[input]
$;INPUT$; = <<_EOT
polypeptide_fasta	/mnt/staging/ergatis/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
cds_fasta	/mnt/staging/ergatis/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list
annotation_genbank	$;REPOSITORY_ROOT$;/output_repository/tbl2asn/$;PIPELINEID$;_default/tbl2asn.gbf.list
annotation_sqn	$;REPOSITORY_ROOT$;/output_repository/tbl2asn/$;PIPELINEID$;_default/tbl2asn.sqn.list
summary_report	$;REPOSITORY_ROOT$;/output_repository/bsml2tbl/$;PIPELINEID$;_default/summary_report.txt
bsml_pipeline_summary	/mnt/staging/ergatis/pipeline_summary/$;PIPELINEID$;_default/pipeline_summary.bsml.list
bsml_hmmpfam_pre	/mnt/staging/ergatis/hmmpfam/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam.bsml.list
bsml_hmmpfam_post	/mnt/staging/ergatis/hmmpfam/$;PIPELINEID$;_post_overlap_analysis/hmmpfam.bsml.list
btab_ber_pre	/mnt/staging/ergatis/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.btab.list
btab_ber_post	/mnt/staging/ergatis/ber/$;PIPELINEID$;_post_overlap_analysis/ber.btab.list
raw_ber_pre	/mnt/staging/ergatis/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.raw.list
raw_ber_post	/mnt/staging/ergatis/ber/$;PIPELINEID$;_post_overlap_analysis/ber.raw.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT

$;MAP_FILE$; = $;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt

[output]
$;OUTPUT_TOKEN$; = clovr_microbe_annotation
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = tag_data
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
