[wga_maf2tree default]
$;MAF_FILE$;=`head -n1 ${input.INPUT_MAF_LIST}`
$;FASTA_FILE$;=`head -n1 ${input.INPUT_FASTA_LIST}`
$;OUTPUT_TREE_FILE$;=$;OUTPUT_DIRECTORY$;/${params.OUTPUT_PREFIX}.tree
$;STAGEDATA$;=`head -n1 ${input.INPUT_MAF_LIST}` `head -n1 ${input.INPUT_FASTA_LIST}`

[mugsy_callsnps default]
$;MAF_FILE$;=`head -n1 ${input.INPUT_MAF_LIST}`
$;FASTA$;=`head -n1 ${input.INPUT_FASTA_LIST}`
$;OUTPUT_SNPS_FILE$;=$;OUTPUT_DIRECTORY$;/${params.OUTPUT_PREFIX}.snps
$;STAGEDATA$;=`head -n1 ${input.INPUT_MAF_LIST}` `head -n1 ${input.INPUT_FASTA_LIST}`

[tag_data clovr_WGA_phylo]
$;OUTPUT_TOKEN$;=clovr_WGA_phylo
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
snps_file	$;REPOSITORY_ROOT$;/output_repository/mugsy_callsnps/$;PIPELINEID$;_default/${params.OUTPUT_PREFIX}.snps\n
wga_tree	$;REPOSITORY_ROOT$;/output_repository/wga_maf2tree/$;PIPELINEID$;_default/${params.OUTPUT_PREFIX}.tree\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
