[sam_to_bam default]
$;INPUT_FILE_LIST$;=${input.INPUT_SAM_TAG}

[samtools_pileup default]
$;REFERENCE$;=${input.REFERENCE_TAG}

[tag_data clovr_rna_seq_pileup]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;OUTPUT_TOKEN$;=clovr_rna_seq_pileup
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;INPUT$; = <<_EOT
samtools_bam	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/sorted_bam_list.txt
samtools_bam_index	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/bam_index_list.txt
basic_stats_idx	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/idxstats_output_list.txt
basic_stats_flag	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/flagstat_output_list.txt
samtools_pileup	$;REPOSITORY_ROOT$;/output_repository/samtools_pileup/$;PIPELINEID$;_default/pileup_output_list.txt
pileup2wig_wig	$;REPOSITORY_ROOT$;/output_repository/pileup_to_wig/$;PIPELINEID$;_default/wig_file_list.txt
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT

