<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_DIR</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ANNOUNCE</name>
          <description>Announce new image on success using Hudson job &quot;Announce new image&quot;</description>
          <defaultValue>yes</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#Create a tar
echo &quot;Creating the tar&quot;
dname=`dirname $IMAGE_DIR`
if [ &quot;$dname&quot; = &quot;/mnt&quot; ]
then
  dname=`dirname $IMAGE_DIR`
  bname=`basename $IMAGE_DIR`
  tar -C $dname -cvzf $IMAGE_DIR.tgz $bname
else
  tar -cvzf $IMAGE_DIR.tgz $IMAGE_DIR
fi
if [ &quot;$ANNOUNCE&quot; = &quot;yes&quot; ]
then
 curl http://localhost:8888/job/Announce%20new%20image/buildWithParameters?IMAGE_NAME=$IMAGE_DIR
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>