[formatdb default]
$;INPUT_FILE_LIST$;=${input.DATASET_FILE_LIST}
$;PROTEIN$;=${params.PROTEIN}

[split_multifasta default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;SEQS_PER_FILE$;=${params.SEQS_PER_FILE}

[ncbi-blastall default]
$;EXPECT$;=${params.EXPECT}
$;OTHER_OPTS$;=-p ${params.PROGRAM} ${params.OTHER_OPTS}
$;DATABASE_PATH$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_default/db
$;GROUP_COUNT$;=3000
$;SKIP_WF_COMMAND$;=convert raw to btab,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;FILTER_HSPS_FOR_STATS$;=1
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_default

[resistome default]
$;DB_FILE_LIST$;=${input.DATASET_FILE_LIST}
$;QUERY_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;IDENTITY_PERCENTAGE$;=${params.IDENTITY}
$;READ_LENGTH_COVERAGE$;=${params.ALIGN_COVERAGE}

[ncbi-blastn default]
$;OTHER_OPTS$;=-m8
$;DATABASE_PATH$;=${input.NUCLEOTIDE_DB_PATH}

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
