[bowtie_build default]
$;BOWTIE_BIN_DIR$;=/opt/bowtie
$;INPUT_FILE$;=`cat ${input.REFERENCE_FILE}`

[run_command prepare_input_for_bowtie]
$;INPUT_COMMAND$;=/opt/ergatis/bin/prepare_input_for_bowtie
$;INPUT_ARGS$;=-o $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list -p ${input.INPUT_PAIRED_TAG} -n ${input.INPUT_READS_TAG}

[bowtie default]
$;INPUT_FILE_LIST$;= $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list
$;BOWTIE_INDEX_DIR$;=$;REPOSITORY_ROOT$;/output_repository/bowtie_build/$;PIPELINEID$;_default/$;ITERATOR1$;/g1
$;BOWTIE_INDEX_PREFIX$;=ref
$;MAX_INSERT$;=${params.MAX_INSERT_SIZE}
$;NUM_MISMATCHES$;=${params.MAX_MISMATCHES}
$;NUM_HITS$;=${params.MAX_ALIGNS_PER_READ}

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=default
$;INPUT$;=<<_EOT
bowtie_sam	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/bowtie.sam.list\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

