[bowtie_build default]
$;BOWTIE_BIN_DIR$;=/opt/bowtie
$;INPUT_FILE$;=`cat ${input.REFERENCE_FILE}`

[run_command list_to_tab]
$;INPUT_COMMAND$;=/opt/ergatis/bin/list_to_tab
$;INPUT_ARGS$;=--input_file ${input.INPUT_READS} --output_file $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_list_to_tab/input.tab

[bowtie default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_list_to_tab/input.tab
$;BOWTIE_INDEX_DIR$;=$;REPOSITORY_ROOT$;/output_repository/bowtie_build/$;PIPELINEID$;_default/$;ITERATOR1$;/g1
$;BOWTIE_INDEX_PREFIX$;=ref
$;MAX_INSERT$;=${params.MAX_INSERT_SIZE}
$;NUM_MISMATCHES$;=${params.MAX_MISMATCHES}
$;NUM_HITS$;=${params.MAX_ALIGNS_PER_READ}

[run_command create_unmapped_list]
$;INPUT_COMMAND$;=/opt/ergatis/bin/generate_list_file
$;INPUT_ARGS$;=--directory=$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default --regex=".*\.txt" --output_list=$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/unmapped.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=default
$;INPUT$;=<<_EOT
bowtie_sam	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/bowtie.sam.list\n
bowtie_bam	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/bowtie.bam.list\n
unmapped	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/unmapped.list\n
stats	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/i1/g1/bowtie.stderr\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

