<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description>Builds a "buildbox" image using the clovr-build recipe. This image requires 2 vCPUs and 8GB of RAM and automatically starts hudson</description>
          <defaultValue>/mnt/image.img</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt
export BUILD_ID=$BUILD_ID
sudo -E /opt/vappio-util/vp-build $IMAGE_NAME clovr-build
echo &quot;Enabling updates and hudson start at boot&quot;
buildname=`echo "$BUILD_ID" | sed 's/_/-/'`
namepfx="clovr-build-$buildname"
mkdir -p $namepfx/shared/user-scripts
echo &apos;#!/bin/bash&apos; &gt; $namepfx/shared/user-scripts/01-updaterecipes
echo &apos;/opt/vappio-install/vp-bootstrap-install&apos; &gt;&gt; $namepfx/shared/user-scripts/01-updaterecipes
chmod a+x $namepfx/shared/user-scripts/01-starthudson
echo &apos;#!/bin/bash&apos; &gt; $namepfx/shared/user-scripts/02-starthudson
echo &apos;/etc/init.d/hudson start&apos; &gt;&gt; $namepfx/shared/user-scripts/02-starthudson
chmod a+x $namepfx/shared/user-scripts/02-starthudson
perl -pi -e 's/numvcpus = \S+/numvcpus = "2"/' $namepfx/start_clovr.vmx
perl -pi -e 's/memsize = \S+/memsize = "8192"/' $namepfx/start_clovr.vmx
tar -cvzf $namepfx.tgz $namepfx || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
