## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
FASTA_FILES=/opt/hudson/Metagenomic_data/ts1.small.fasta  /opt/hudson/Metagenomic_data/ts20.small.fasta  /opt/hudson/Metagenomic_data/ts29.small.fasta  /opt/hudson/Metagenomic_data/ts4.small.fasta   /opt/hudson/Metagenomic_data/ts50.small.fasta  /opt/hudson/Metagenomic_data/ts7.small.fasta /opt/hudson/Metagenomic_data/ts19.small.fasta  /opt/hudson/Metagenomic_data/ts21.small.fasta  /opt/hudson/Metagenomic_data/ts3.small.fasta   /opt/hudson/Metagenomic_data/ts49.small.fasta  /opt/hudson/Metagenomic_data/ts51.small.fasta  /opt/hudson/Metagenomic_data/ts8.small.fasta /opt/hudson/Metagenomic_data/ts2.small.fasta   /opt/hudson/Metagenomic_data/ts28.small.fasta  /opt/hudson/Metagenomic_data/ts30.small.fasta  /opt/hudson/Metagenomic_data/ts5.small.fasta   /opt/hudson/Metagenomic_data/ts6.small.fasta   /opt/hudson/Metagenomic_data/ts9.small.fasta

MAPPING_FILE=/opt/hudson/Metagenomic_data/Twins.small.meta

PIPELINE_NAME=clovr_metagenomics_orfs_run

## Input data tags
FASTA_TAG=clovr_metagenomics_orfs_fasta
MAPPING_TAG=clovr_metagenomics_orfs_map

## DB tags for the pipeline
PROTEIN_DB_PATH=clovr-cogdb
NUCLEOTIDE_DB_PATH=clovr-refseqdb


#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################
[params]
TOTAL_FILES=1
NUM_SEQS=400
GROUP_COUNT=1

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/clovr_metagenomics_orfs.log
TAGS_TO_DOWNLOAD=uclust_clusters,blast_functional,tables_functional,piecharts_functional,skiff_functional,metastats_functional,blast_taxonomy,tables_taxonomy,piecharts_taxonomy,skiff_taxonomy,metastats_taxonomy
## the higher, the more output (3 = most verbose)
debug_level=3


[pipeline]
PIPELINE_TEMPLATE=clovr_metagenomics_orfs

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_orfs/clovr_metagenomics_orfs.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_orfs/clovr_metagenomics_orfs.prerun.xml
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_orfs/clovr_metagenomics_orfs.postrun.xml
DOWNLOAD_TAG_ITERATOR_XML=/opt/ergatis/docs/clovrdownload_tag.iterator.xml
