## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
TIME=10
INPUT_FILES=/mnt/user_data/myfile1 /mnt/user_data/myfile2 /mnt/user_data/myfile3


PIPELINE_NAME=${DATE}

INPUT_TAG=clovrsleepfiles

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/prok_run.conf.log
## the higher, the more output (3 = most verbose)
debug_level=3

[pipeline]
PIPELINE_TEMPLATE=clovr_sleep
PIPELINE_ARGS=--INPUT_FILE=${input.INPUT_FILES} --TIME=${input.TIME}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_sleep/clovr_sleep.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_sleep/clovr_sleep.prerun.xml
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_sleep/clovr_sleep.postrun.xml



