## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
DB_PATH=ncbi-nr
SEQS_PER_FILE=5
## Should be set to the number of nodes available in cluster
TOTAL_FILES=1
NUM_SEQS=100
GROUP_COUNT=1

INPUT_FILES=/opt/hudson/MOMSP_454Reads_Region1_subset2.fasta

PIPELINE_NAME=${DATE}
INPUT_TAG=tot_metagenomics_stub

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_TAG=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_TYPE=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/tot_meta_stub_run.log
## the higher, the more output (3 = most verbose)
debug_level=3

[pipeline]
PIPELINE_TEMPLATE=clovr_total_metagenomics
PIPELINE_ARGS=--INPUT_FILE=${input.INPUT_TAG} --DB_PATH=${input.DB_PATH} --SEQS_PER_FILE=${input.SEQS_PER_FILE} --TOTAL_FILES=${input.TOTAL_FILES} --NUM_SEQS=${input.NUM_SEQS} --GROUP_COUNT=${input.GROUP_COUNT}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_total_metagenomics/clovr_total_metagenomics.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_total_metagenomics/clovr_total_metagenomics.prerun.xml
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_total_metagenomics/clovr_total_metagenomics.postrun.xml
