## Configuration file for clovr_rna_seq_indices
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
INPUT_PAIRED_TAG={"display": "Paired-end Input Tag", "desc": "The input tag describing any paried-end sequence data (fastq)", "type": "dataset list", "type_params": {"format_type": ["fastq"], "transform_name": "input.PAIRED_READS_LIST"}}
INPUT_READS_TAG={"display": "Input Reads Tag", "desc": "Input reads tag", "type": "dataset", "type_params": {"format_type": ["nuc_fasta"], "transform_name": "input.READS_LIST"}}
REFERENCE_BOWTIE_TAG={"display": "Reference bowtie indices", "desc": "bowtie-build generated indices that bowtie uses during alignment.", "type": "blastdb_dataset", "type_params": {"transform_name": "input.REFERENCE_BOWTIE_PATH"}, "require_value": true}
REFERENCE_FASTA_TAG={"display": "Reference FASTA sequence", "desc": "FASTA sequence to be converted into bowtie indices via bowtie-build.", "type": "dataset", "type_params": { "format_type": ["fasta"], "transform_name": "input.REFERENCE_FILE_LIST"}, "require_value": true}
INPUT_GFF3_TAG={"display": "Input GFF3 Tag", "desc": "Input GFF3 tag", "type": "dataset", "type_params": {"format_type": ["gff3"], "transform_name": "input.GFF3_FILE_LIST"}, "require_value": true}
INPUT_SAMPLE_MAP_TAG={"display": "Input Sample Map Tag", "desc": "Sample mapping file used during DESeq step", "type": "dataset", "type_params": {"transform_name": "input.SAMPLE_MAP_FILE_LIST"}, "require_value": true}

## This is used for uploading the tags specified above
## Don't change this.
INPUT_TAGS={"display": "Input Tag Vars", "default": "$;INPUT_PAIRED_TAG$;,$;INPUT_READS_TAG$;", "visibility": "always_hidden", "type": "string" }

#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################
[params]
## Bowtie
MAX_INSERT_SIZE={"display": "Max insert size", "default": 251, "desc": "Maximum insert size", "type": "integer", "type_params": {"min": 0}, "require_value": true}
MAX_MISMATCHES={"display": "Max mismatches", "default": 2, "desc": "Maximum number of mismatches", "type": "integer", "type_params": {"min": 0, "max": 3}, "require_value": true}
MAX_ALIGNS_PER_READ={"display": "Max aligns per read", "default": 1, "desc": "Maximum number of alignments per read... those with more alignments will be ignored", "type": "integer", "require_value": true}

## Expression analysis
COUNT_MODE={"display": "Count Mode", "default": "union", "desc": "Scheme to decipher overlapping features and reads", "type": "restricted_string", "type_params": {"choices": ["union", "intersection-strict", "intersection-nonempty"]}, "required_value": true}
COUNTING_FEATURE={"display": "Counting Feature", "default": "CDS", "desc": "Feature type to extract from gtf file and count over", "type": "string", "required_value": true}
MIN_ALIGN_QUAL={"display": "Minimum Alignment Quality", "default": 0, "desc": "Minimum quality of alignment required to count a read", "type": "integer", "required_value": true}
IS_STRANDED={"display": "Is Stranded", "default": "no", "desc": "Indicates whether or not the rna-seq library is strand-specific", "type": "restricted_string", "type_params": {"choices": ["yes", "no"]}, "required_value": true}
ID_ATTRIBUTE={"display": "ID Attribute", "default": "gene_id", "desc": "Attribute upon which to group features on when counting reads", "type": "string", "required_value": true}

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
-include_in_section /opt/clovr_pipelines/common_config/output.config

## These are the output tags which will be downloaded
## at the end of the pipeline to the local VM.
## Possible options:
TAGS_TO_DOWNLOAD={"display": "Tags to download", "default": "bowtie_sam,htseq_counts,sort_sam_by_name_sam,deseq_all_counts,deseq_count_stat,deseq_tiff,samtools_bam,samtools_bam_index,basic_stats_idx,basic_stats_flag,samtools_pileup,pileup2wig_wig", "desc": "The pipeline generates a number of output files, you can choose which of these outputs to download,", "type": "restricted_string list", "type_params": {"choices": ["bowtie_sam", "htseq_counts", "sort_sam_by_name_sam", "deseq_all_counts", "deseq_count_stat", "deseq_tiff","samtools_bam", "samtools_bam_index", "basic_stats_idx", "basic_stats_flag", "samtools_pileup", "pileup2wig_wig"]}, "visibility": "default_hidden"}

[download]


[pipeline]
-include_in_section /opt/clovr_pipelines/common_config/pipeline.config

SOP_VERSION={"default": "clovr_rna_seq_indices_version_0.0", "type": "string", "visibility": "always_hidden", "require_value": true}

PIPELINE_TEMPLATE={"default": "clovr_rna_seq_indices", "visibility": "hidden", "type": "string", "require_value": true}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_rna_seq_indices/clovr_rna_seq_indices.prerun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_rna_seq_indices/clovr_rna_seq_indices.postrun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}

DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "type": "string", "require_value": true}

