[run_command default]
$;INPUT_COMMAND$; = $;BIN_DIR$;/create_bowtie_ref_list_from_index_list -i ${input.REFERENCE_TAG} -o /tmp/$;PIPELINEID$;_bowtie.refs --clovr

[bowtie default]
$;INPUT_FILE_LIST$; = /tmp/$;PIPELINEID$;_bowtie.refs
$;READS$; = `/usr/bin/python /opt/vappio-py/igs/misc/convertTagToCommaSep.py ${input.INPUT_READS_TAG}`
$;X$; = ${params.MAX_INSERT_SIZE}
$;V$; = ${params.MAX_MISMATCHES}
$;M$; = ${params.MAX_ALIGNS_PER_READ}
$;OTHER_OPTS$; = ${params.BOWTIE_OPTS}

[tag_data clovr_mapping_bowtie_indices]
$;PIPELINE_NAME$; = ${pipeline.PIPELINE_NAME}
