[run_command prepare_input_for_bowtie]
$;INPUT_COMMAND$;=/opt/ergatis/bin/prepare_input_for_bowtie
$;INPUT_ARGS$;=-o $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list -p ${input.INPUT_PAIRED_TAG} -n ${input.INPUT_READS_TAG} 

[bowtie default]
$;INPUT_FILE_LIST$;= $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list
$;REFERENCE$;=${input.REFERENCE_BOWTIE_PATH}
$;X$;=${params.MAX_INSERT_SIZE}
$;V$;=${params.MAX_MISMATCHES}
$;M$;=${params.MAX_ALIGNS_PER_READ}

[tag_data clovr_align_bowtie_indices]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=clovr_align_bowtie_indices
$;INPUT$;=<<_EOT
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

[sam_to_bam default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/aligned_sam_list.txt

[basic_alignment_stats default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/

[run_command prepare_input_for_pileup]
$;INPUT_COMMAND$;=cp
$;INPUT_ARGS$;=`cat ${input.REFERENCE_FILE_LIST}` $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_pileup/
$;OUTPUT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_pileup/reference_fasta.list

[samtools_pileup default]
$;REFERENCE$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_pileup/reference_fasta.list

[tag_data clovr_pileup]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_pileup
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;INPUT$; = <<_EOT
samtools_bam	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/sorted_bam_list.txt
samtools_bam_index	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/bam_index_list.txt
basic_stats_idx	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/idxstats_output_list.txt
basic_stats_flag	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/flagstat_output_list.txt
samtools_pileup	$;REPOSITORY_ROOT$;/output_repository/samtools_pileup/$;PIPELINEID$;_default/pileup_output_list.txt
pileup2wig_wig	$;REPOSITORY_ROOT$;/output_repository/pileup_to_wig/$;PIPELINEID$;_default/wig_file_list.txt
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT

