[run_command default]
$;INPUT_COMMAND$;=$;BIN_DIR$;/create_bowtie_ref_list_from_index_list -i ${input.REFERENCE_TAG} -o /tmp/$;PIPELINEID$;_bowtie.refs --clovr
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[bowtie default]
$;INPUT_FILE_LIST$;=/tmp/$;PIPELINEID$;_bowtie.refs
$;OTHER_OPTS$;=${params.BOWTIE_OPTS}
$;M$;=${params.MAX_ALIGNS_PER_READ}
$;V$;=${params.MAX_MISMATCHES}
$;X$;=${params.MAX_INSERT_SIZE}
$;READS$;=`/usr/bin/python /opt/vappio-py/igs/misc/convertTagToCommaSep.py ${input.INPUT_READS_TAG}`
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[tag_data clovr_mapping_bowtie_indices]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
bowtie_sam	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/bowtie.sam.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
