[cluster]
CLUSTER_NAME={"display": "Cluster Name", "default": "local", "visibility": "default_hidden", "desc": "Cluster name to run this on, shouldn't need to specify manually", "type": "string"}
MASTER_INSTANCE_TYPE={"display": "Master Instance Type", "default": "default", "visibility": "default_hidden", "desc": "Instance type to use for the master, guaranteed values are 'default', 'small', 'medium', and 'large'", "type": "string", "require_value": true}
MASTER_BID_PRICE={"display": "Master Bid Price", "default": "", "visibility": "default_hidden", "desc": "If spot instances are desired, set bid price", "type": "float"}
EXEC_INSTANCE_TYPE={"display": "Exec Instance Type", "default": "default", "visibility": "default_hidden", "desc": "Instance type to use for the exec, guaranteed values are 'default', 'small', 'medium', and 'large'", "type": "string", "require_value": true}
EXEC_BID_PRICE={"display": "Exec Bid Price", "default": "", "visibility": "default_hidden", "desc": "If spot instances are desired, set bid price", "type": "float"}
EXEC_NODES={"display": "Number of exec nodes", "default": 0, "visibility": "default_hidden", "desc": "Number of exec nodes, should not need to specify manually", "type": "integer"}
CLUSTER_CREDENTIAL={"display": "Credential", "visibilty": "default_hidden", "default": "local", "desc": "Credential to use to make the cluster", "type": "credential"}
