[run_workflow prestart]
$;WORKFLOW_XML$;=${pipeline.PRESTART_TEMPLATE_XML}
$;USER_CONFIG$;=${CONFIG_FILE}

;Start master only
[run_command startcluster]
$;INPUT_COMMAND$;=startCluster.py
$;INPUT_ARGS$;=--conf ${cluster.CLOVR_CONF} --name ${cluster.CLUSTER_NAME} --num ${cluster.EXEC_NODES} --cred ${cluster.CLUSTER_CREDENTIAL} --block

[run_workflow prerun]
$;WORKFLOW_XML$;=${pipeline.PRERUN_TEMPLATE_XML}
$;USER_CONFIG$;=${CONFIG_FILE}

;Submit pipeline
[run_command runpipeline]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/runPipeline.py 
$;INPUT_ARGS$;=--name ${cluster.CLUSTER_NAME} --pipeline-name ${input.PIPELINE_NAME} --pipeline ${pipeline.PIPELINE_TEMPLATE} --print-task-name -- ${pipeline.PIPELINE_ARGS}
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/runpipeline.out

[run_command pipelinestatus]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/taskStatus.py 
$;INPUT_ARGS$;=--name ${cluster.CLUSTER_NAME} --exit-code --block `cat $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_runpipeline/runpipeline.out`

[run_command downloadoutput]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/downloadPipelineOutput.py 
$;INPUT_ARGS$;=--name ${cluster.CLUSTER_NAME} --pipeline ${input.PIPELINE_NAME} --output-dir ${output.OUTPUT_DIRECTORY} --overwrite --block

[run_workflow postrun]
$;WORKFLOW_XML$;=${pipeline.POSTRUN_TEMPLATE_XML}
$;USER_CONFIG$;=${CONFIG_FILE}