[run_workflow prestart]
$;USER_CONFIG$;=${CONFIG_FILE}
$;WORKFLOW_XML$;=${pipeline.PRESTART_TEMPLATE_XML}
$;OUTPUT_TOKEN$;=prestart

[run_command startcluster]
$;INPUT_ARGS$;=--cluster ${cluster.CLUSTER_NAME} --num-exec ${cluster.EXEC_NODES} --cred ${cluster.CLUSTER_CREDENTIAL} --master-instance-type ${cluster.MASTER_INSTANCE_TYPE} --exec-instance-type ${cluster.EXEC_INSTANCE_TYPE} --master-bid-price ${cluster.MASTER_BID_PRICE} --exec-bid-price ${cluster.EXEC_BID_PRICE}
$;INPUT_COMMAND$;=vp-start-cluster
$;OUTPUT_TOKEN$;=startcluster

[run_workflow prerun]
$;USER_CONFIG$;=${CONFIG_FILE}
$;WORKFLOW_XML$;=${pipeline.PRERUN_TEMPLATE_XML}
$;OUTPUT_TOKEN$;=prerun

[run_command runpipeline]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/runpipeline.out
$;INPUT_ARGS$;=--name ${cluster.CLUSTER_NAME} --pipeline-name ${pipeline.PIPELINE_NAME} --pipeline ${pipeline.PIPELINE_TEMPLATE} --pipeline-config=${CONFIG_FILE} --pipeline-queue=pipeline.q --print-task-name 
$;INPUT_COMMAND$;=vp-run-pipeline
$;OUTPUT_TOKEN$;=runpipeline

[run_command pipelinestatus]
$;INPUT_ARGS$;=--show-all --name ${cluster.CLUSTER_NAME} --exit-code --block `cat $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_runpipeline/runpipeline.out`
$;INPUT_COMMAND$;=vp-describe-task
$;OUTPUT_TOKEN$;=pipelinestatus

[run_workflow postrun]
$;USER_CONFIG$;=${CONFIG_FILE}
$;WORKFLOW_XML$;=${pipeline.POSTRUN_TEMPLATE_XML}
$;OUTPUT_TOKEN$;=postrun

