<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Automated build of bundles</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>/mnt/image.img</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt
export BUILD_ID=$BUILD_ID
sudo -u www-data -E /opt/vappio-util/vp-build $IMAGE_NAME clovr-skeleton
tar -cvzf $IMAGE_NAME.tgz $IMAGE_NAME || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
