[interface]
classification = omnidexterous

;to iterate over a list of files, use tabula_rasa component

[parameters]
$;INPUT_COMMAND$;=vp-add-dataset -o --tag-name=$;PIPELINEID$;_polypeptides; /usr/bin/find
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate/i1 -name '*fsa' | /opt/vappio-py/vappio/cli/vp-add-dataset --stdin --tag-name $;PIPELINEID$;_polypeptides -o
$;COMMAND_STDOUT$; = $;OUTPUT_DIRECTORY$;/tag_polypeptides.stdout
$;COMMAND_STDERR$; = $;TMP_DIR$;/runcommand.stderr

[input]

[output]
$;OUTPUT_TOKEN$; = tag_polypeptides
;;note: an $;OUTPUT_EXTENSION$; of "out" or some other common extension for intermediate files may add unintended files to $;OUTPUT_LIST$;
$;OUTPUT_EXTENSION$; = out
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_LIST$; = $;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.$;OUTPUT_EXTENSION$;.list
;compressed input files handled in tabula_rasa
$;COMPRESS_OUTPUT$; = 0

[component]
$;COMPONENT_NAME$; = run_command
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = 2.0
$;RELEASE_TAG$; = $Name$
$;REVISION$;            = $Revision: 4680 $

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; = 
$;COMPONENT_XML$; = 
$;PIPELINE_XML$; = 
$;PIPELINEID$; = 

[include]
$;PROJECT_CONFIG$;=
