## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
FASTA_TAG={"display": "Input Fasta Tag", "default": "clovr_metagenomics_noorfs_fasta", "desc": "Input fasta tag", "type": "dataset", "type_params": {"format_type": ["nuc_fasta"], "transform_name": "input.FASTA_FILE_LIST"}, "require_value": true}

MAPPING_TAG={"display": "Mapping tag", "default": "clovr_metagenomics_noorfs_map", "desc": "Mapping tag for pipeline", "type": "dataset", "type_params": {"format_type": ["metagenomics_mapping_file"], "transform_name": "input.MAPPING_FILE_LIST"}, "require_value": true}

PROTEIN_DB_TAG={"display": "Functional (protein) database tag", "default": "clovr-cogdb", "desc": "Functional reference database", "type": "blastdb_dataset", "type_params": {"choices": ["clovr-cogdb", "clovr-eggnogdb", "clovr-keggdb"], "transform_name": "input.PROTEIN_DB_FILE_LIST"}, "require_value": true}

NUCLEOTIDE_DB_TAG={"display": "Taxonomic (nucleotide) database tag", "default": "clovr-refseqdb", "desc": "Taxonomic reference database", "type": "blastdb_dataset", "type_params": {"transform_name": "input.NUCLEOTIDE_DB_FILE_LIST"}, "require_value": true}


#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################
[params]
# This should probably be removed in the near future
TOTAL_FILES={"display": "Total file", "default": 1, "desc": "Number of file to create, you don't need to modify this", "visibility": "default_hidden", "type": "integer"}

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
-include_in_section /opt/clovr_pipelines/common_config/cluster.config


#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
-include_in_section /opt/clovr_pipelines/common_config/output.config

## Downloading of workflow xmls can be accomplished by adding 'workflow_xml_tag' to TAGS_TO_DOWNLOAD
TAGS_TO_DOWNLOAD={"display": "Download tags", "default": "read_mapping,uclust_clusters,artificial_replicates,blast_functional,tables_functional,piecharts_functional,skiff_functional,metastats_functional,histograms_functional,blast_taxonomy,tables_taxonomy,piecharts_taxonomy,skiff_taxonomy,metastats_taxonomy,histograms_taxonomy", "desc": "Comma separated list of tags that should be downloaded", "type": "restricted_string list", "type_params": {"choices": ["read_mapping", "uclust_clusters", "artificial_replicates", "blast_functional", "tables_functional", "piecharts_functional", "skiff_functional", "metastats_functional", "histograms_functional", "blast_taxonomy", "tables_taxonomy", "piecharts_taxonomy", "skiff_taxonomy", "metastats_taxonomy", "histograms_taxonomy"]}}


[download]


[pipeline]
-include_in_section /opt/clovr_pipelines/common_config/pipeline.config

SOP_VERSION={"display": "SOP Version" , "default":"clovr_metagenomics_noorfs_version_0.0", "type": "string"}

PIPELINE_TEMPLATE={"default": "clovr_metagenomics_noorfs", "visibility": "always_hidden", "desc": "The type of the pipeline we are running", "type": "string", "require_value": true}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_noorfs/clovr_metagenomics_noorfs.prestart.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_noorfs/clovr_metagenomics_noorfs.prerun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_noorfs/clovr_metagenomics_noorfs.postrun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}

DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
