[clovr_metagenomics_prep default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}

[run_command uclust_calc_cpu_hrs]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local -c params.CPU_HRS_PER_FILE=0.5 -c params.SEQS_PER_FILE=1500000 "filter-keys input.FASTA_TAG cluster.CLUSTER_NAME params.CPU_HRS_PER_FILE params.SEQS_PER_FILE | sequence-stats | split_fasta-to-cpu-hours | calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[split_multifasta uclust]
$;GROUP_COUNT$;=1
$;SEQS_PER_FILE$;=1500000
$;OUTPUT_DIRECTORY$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=uclust
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_prep/$;PIPELINEID$;_default/Data.processed.fasta 

[uclust default]
$;GROUP_COUNT$;=150
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_uclust/split_multifasta.fsa.list 
$;SORT_ALGORITHM$;=mergesort
$;IDENTITY_THRESHOLD$;=0.99

[uclust_remove_replicates default]
$;GROUP_COUNT$;=150
$;SORTED_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted.list
$;REPLICATE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.replicates.list
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_default/uclust.clstr.list 

[concatenate_files default]
$;OUTPUT_FILE$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fna
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_default/uclust.fsa.list 

[run_command calculate_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local -c params.PROGRAM=blastn -c misc.REP_DB=clovr-refseqdb -c params.SCALE_FACTOR=2.2 -c params.AVG_QUERY_SEQ_LEN=10 -c params.NUM_QUERY_SEQ=10 "filter-keys input.FASTA_TAG cluster.CLUSTER_NAME params.PROGRAM params.SCALE_FACTOR misc.REP_DB params.AVG_QUERY_SEQ_LEN params.NUM_QUERY_SEQ | tag-is-fasta | cunningham_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[run_command set_ergatis_values]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta blast | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[run_command resize_cluster]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[split_multifasta blast]
$;GROUP_COUNT$;=1
$;TOTAL_FILES$;=${params.TOTAL_FILES}
$;OUTPUT_DIRECTORY$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=blast
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_default/concatenate_files.fna 

[ncbi-blastx default]
$;GROUP_COUNT$;=3000
$;OTHER_OPTS$;=-m 8 2> /dev/null | cat 
$;DATABASE_PATH$;=${input.PROTEIN_DB_PATH}
$;SKIP_WF_COMMAND$;=create bsml list,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_blast/split_multifasta.fsa.list 
$;DATABASE_MATCHES$;=10
$;DESCRIPTIONS$;=1

[clovr_metagenomics_tables functional]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.PROTEIN_DB_PATH}.antn
$;OUTPUT_TOKEN$;=functional
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastx/$;PIPELINEID$;_default/ncbi-blastx.raw.list $;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;PREFIX$;=functional 
$;CLUSTER_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;BLAST_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastx/$;PIPELINEID$;_default/ncbi-blastx.raw.list

[metastats functional]
$;GROUP_COUNT$;=20
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/pairedtables.list

[skiff functional]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list

[piecharts functional]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list

[histogram_stacked functional]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list

[ncbi-blastn default]
$;GROUP_COUNT$;=3000
$;OTHER_OPTS$;=-W 11 -m 8 2> /dev/null | cat
$;DATABASE_PATH$;=${input.NUCLEOTIDE_DB_PATH}
$;REVISION$;=$Revision: 6089 $
$;SKIP_WF_COMMAND$;=create bsml list,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_blast/split_multifasta.fsa.list 
$;DATABASE_MATCHES$;=10
$;DESCRIPTIONS$;=1

[clovr_metagenomics_tables taxonomy]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.NUCLEOTIDE_DB_PATH}.antn  
$;OUTPUT_TOKEN$;=taxonomy
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list $;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;PREFIX$;=taxonomy
$;CLUSTER_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;BLAST_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list 

[metastats taxonomy]
$;GROUP_COUNT$;=20
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/pairedtables.list

[skiff taxonomy]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list

[piecharts taxonomy]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list

[histogram_stacked taxonomy]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
read_mapping	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_prep/$;PIPELINE_ID$;_default/Data.processed.list
uclust_clusters	$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINE_ID$;_default/uclust.clstr.list
artificial_replicates	$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.replicates.list
blast_functional	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastx/$;PIPELINEID$;_default/ncbi-blastx.raw.list
tables_functional	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list
piecharts_functional	$;REPOSITORY_ROOT$;/output_repository/piecharts/$;PIPELINEID$;_functional/piecharts.results.list
skiff_functional	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_functional/skiff.results.list
metastats_functional	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_functional/metastats.results.list
histograms_functional	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_functional/histogram_stacked.results.list
blast_taxonomy	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list
tables_taxonomy	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list
piecharts_taxonomy	$;REPOSITORY_ROOT$;/output_repository/piecharts/$;PIPELINEID$;_taxonomy/piecharts.results.list
skiff_taxonomy	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_taxonomy/skiff.results.list
metastats_taxonomy	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_taxonomy/metastats.results.list
histograms_taxonomy	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_taxonomy/histogram_stacked.results.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

