<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build a vmdk image from a raw disk image&lt;br&gt;&#xd;
Includes:&lt;br&gt;&#xd;
-Adding vmware,vbox tools&lt;br&gt;&#xd;
-Adding grub boot loader&lt;br&gt;&#xd;
-Converting img to vmdk&lt;br&gt;&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>/mnt/image.img</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn export --force  https://vappio.svn.sourceforge.net/svnroot/vappio/trunk/img-conf/boot /mnt/boot
pushd /mnt
tar cvzf grub-boot.tgz boot
popd
cd /mnt
cp $IMAGE_NAME $IMAGE_NAME.vmbundle
sudo /opt/vappio-util/vp-runonimg $IMAGE_NAME.vmbundle /opt/vappio-util/cleanupimg
sudo /opt/vappio-util/vp-runonimg $IMAGE_NAME.vmbundle /opt/vappio-install/recipes/vmware.sh
sudo /opt/vappio-util/vp-runonimg $IMAGE_NAME.vmbundle /opt/vappio-install/recipes/vbox.sh
sudo /opt/vappio-util/vp-create-vmdk $IMAGE_NAME.vmbundle /mnt/grub-boot.tgz /mnt/image.vmdk
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>