<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build a vmdk image from a raw disk image.&#xd;
Includes:&#xd;
-Adding vmware,vbox tools&#xd;
-Adding grub boot loader&#xd;
-Converting img to vmdk&#xd;
Input is /mnt/image.img&#xd;
Output is /mnt/image.vmdk&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn export --force  https://vappio.svn.sourceforge.net/svnroot/vappio/trunk/img-conf/boot /mnt/boot
pushd /mnt
tar cvzf grub-boot.tgz boot
popd
cd /mnt
cp /mnt/image.img /mnt/image.img.vmbundle
sudo /opt/vappio-util/vp-runonimg /mnt/image.img.vmbundle /opt/vappio-util/cleanupimg
sudo /opt/vappio-util/vp-runonimg /mnt/image.img.vmbundle /opt/vappio-install/recipes/vmware.sh
sudo /opt/vappio-util/vp-runonimg /mnt/image.img.vmbundle /opt/vappio-install/recipes/vbox.sh
sudo /opt/vappio-util/vp-create-vmdk /mnt/image.img.vmbundle /mnt/grub-boot.tgz /mnt/image.vmdk
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
