[interface]
classification = utility

[parameters]
;; This component tags data using the CloVR tagData.py script
;; Input is a hard-coded template file generated prior to the
;; execution of this component.
$;REPO_ROOT$; = $;REPOSITORY_ROOT$;
$;PIPELINE_ID$; = $;PIPELINEID$;
$;PIPELINE_NAME$; = 

[input]
$;INPUT$; = <<_EOT
sort_sam_by_name_sam	$;REPOSITORY_ROOT$;/output_repository/sort_sam_by_name/$;PIPELINEID$;_default/sorted_sam_list.txt
htseq_counts	$;REPOSITORY_ROOT$;/output_repository/htseq_count_reads/$;PIPELINEID$;_default/count_file_list.txt
deseq_all_counts	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/all_counts_file_list.txt
deseq_count_stat	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/count_stat_file_list.txt
deseq_tiff	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/tiff_file_list.txt

#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT

$;MAP_FILE$; = $;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = tag_data
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
