<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Launching CloVR Metagenomics Test without ORF finding with local credentials&#xd;
&#xd;
Infant Gut metagenomic files can be downloaded at http://cb2.igs.umaryland.edu/clovr/Public_Benchmarks/CloVR-Metagenomics/InfantGutMetagenome/InfantGutMetagenome.tar.gz</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e
source /opt/vappio-scripts/clovrEnv.sh

vp-add-dataset -o --tag-name=clovr_metagenomics_orfs_fasta_local /mnt/user_data/metagenomic/Infant_fasta/Age100d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age118d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age371d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age3d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age413d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age432d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age441d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age454d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age6d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age85d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age92d.fasta /mnt/user_data/metagenomic/Infant_fasta/Age98d.fasta

vp-add-dataset -o --tag-name=clovr_metagenomics_orfs_map /mnt/user_data/metagenomic/InfantGutMetagenome.map

DATE=`date +&quot;%m-%d-%Y-%T&quot; | sed -e &apos;s/:/_/g&apos;`

vp-describe-protocols --config-from-protocol=clovr_metagenomics_noorfs \
    -c input.FASTA_TAG=clovr_metagenomics_noorfs_fasta_local \
    -c input.MAPPING_TAG=clovr_metagenomics_noorfs_map \
    -c cluster.CLUSTER_NAME=&apos;local&apos; \
    -c cluster.CLUSTER_CREDENTIAL=&apos;local&apos; \
    -c cluster.TERMINATE_ONFINISH=false \
    -c pipeline.PIPELINE_DESC=&quot;Hudson CloVR Metagenomics Noorfs Test local&quot; \
    &gt; /tmp/$$.pipeline.conf.${DATE}

TASK_NAME=`vp-run-pipeline --print-task-name --pipeline-config /tmp/$$.pipeline.conf.${DATE} --overwrite`

if [ &quot;$?&quot; == &quot;1&quot; ]; then
    echo &quot;vp-run-pipeline failed to run&quot;
    exit 1
fi

vp-describe-task --name local --exit-code --block $TASK_NAME

exit $?
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>