<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Launching CloVR Metagenomics Test without ORF finding with local credentials&#xd;
&#xd;
Infant Gut metagenomic files can be downloaded at http://cb2.igs.umaryland.edu/clovr/Public_Benchmarks/CloVR-Metagenomics/InfantGutMetagenome/InfantGutMetagenome.tar.gz</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e
source /opt/vappio-scripts/clovrEnv.sh

DATE=`date +&quot;%m-%d-%Y-%T&quot; | sed -e &apos;s/:/_/g&apos;`
DATA_DIR=`mktemp -p /mnt/user_data -d`

echo &quot;Downloading data...&quot;
wget --quiet -O ${DATA_DIR}/InfantGutMetagenome.tar.gz http://cb2.igs.umaryland.edu/clovr/Public_Benchmarks/CloVR-Metagenomics/InfantGutMetagenome/InfantGutMetagenome.tar.gz

echo &quot;Extracting data...&quot;
tar xfv ${DATA_DIR}/InfantGutMetagenome.tar.gz -C ${DATA_DIR}
chmod -R 777 ${DATA_DIR} 

vp-add-dataset -o --tag-name=clovr_metagenomics_noorfs_fasta_local_${DATE} ${DATA_DIR}/Age100d.fasta ${DATA_DIR}/Age118d.fasta ${DATA_DIR}/Age371d.fasta ${DATA_DIR}/Age3d.fasta ${DATA_DIR}/Age413d.fasta ${DATA_DIR}/Age432d.fasta ${DATA_DIR}/Age441d.fasta ${DATA_DIR}/Age454d.fasta ${DATA_DIR}/Age6d.fasta ${DATA_DIR}/Age85d.fasta ${DATA_DIR}/Age92d.fasta ${DATA_DIR}/Age98d.fasta
vp-add-dataset -o --tag-name=clovr_metagenomics_noorfs_map ${DATA_DIR}/InfantGutMetagenome.map

vp-describe-protocols --config-from-protocol=clovr_metagenomics_noorfs \
    -c input.FASTA_TAG=clovr_metagenomics_noorfs_fasta_local_${DATE} \
    -c input.MAPPING_TAG=clovr_metagenomics_noorfs_map \
    -c cluster.CLUSTER_NAME=&apos;local&apos; \
    -c cluster.CLUSTER_CREDENTIAL=&apos;local&apos; \
    -c cluster.TERMINATE_ONFINISH=false \
    -c pipeline.PIPELINE_DESC=&quot;Hudson CloVR Metagenomics Noorfs Test local ${DATE}&quot; \
    &gt; /tmp/$$.pipeline.conf.${DATE}

TASK_NAME=`vp-run-pipeline --print-task-name --pipeline-config /tmp/$$.pipeline.conf.${DATE} --overwrite`

if [ &quot;$?&quot; == &quot;1&quot; ]; then
    echo &quot;vp-run-pipeline failed to run&quot;
    rm -rf ${DATA_DIR}
    exit 1
fi

vp-describe-task --name local --exit-code --block $TASK_NAME
rm -rf ${DATA_DIR}

exit $?
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>