[prepare_paired_ends_for_velvet default]
$;LONG_INPUT_LIST$;=${input.LONG_PAIRED_LIST}
$;SHORT_INPUT_LIST$;=${input.SHORT_PAIRED_LIST}
$;NODISTRIB$; = 0

[velvet_optimiser assembly]
$;OTHER_OPTIMISER_OPTS$;=-a yes -o "${params.VELVETG_OPTS} -min_contig_lgth 500"
$;START_HASH_LENGTH$;=${params.START_HASH_LENGTH}
$;END_HASH_LENGTH$;=${params.END_HASH_LENGTH}
$;LONG$;=${input.LONG_INPUT_LIST}
$;SHORT$;=${input.SHORT_INPUT_LIST}
$;OUTPUT_TOKEN$;=assembly
$;LONG_PAIRED$;=$;REPOSITORY_ROOT$;/output_repository/prepare_paired_ends_for_velvet/$;PIPELINEID$;_default/long_reads.list
$;SHORT_PAIRED$;=$;REPOSITORY_ROOT$;/output_repository/prepare_paired_ends_for_velvet/$;PIPELINEID$;_default/short_reads.list
$;NODISTRIB$; = 0

[tag_data clovr_assembly_velvet]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_assembly_velvet
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
assembly_contigs	$;REPOSITORY_ROOT$;/output_repository/velvet_optimiser/$;PIPELINEID$;_assembly/velvet_optimiser.fa.list\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[split_multifasta default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/velvet_optimiser/$;PIPELINEID$;_assembly/velvet_optimiser.fa.list

[RNAmmer default]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[tRNAscan-SE find_tRNA]
$;ID_ROOT$;=${params.OUTPUT_PREFIX}
$;OUTPUT_TOKEN$;=find_tRNA
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;SEARCH_TYPE$;=-B

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;STAGING_DIR$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=iter1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;GLIMMER3_OPTS$;=-o50 -g110 -t30 -z11 -l -X
$;ICM$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.icm
$;STAGEDATA$;=$;OUTPUT_DIRECTORY$;

[train_for_glimmer3_iteration train_for_glimmer]
$;OUTPUT_TOKEN$;=train_for_glimmer
$;INPUT_FASTA_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;INPUT_PREDICT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/glimmer3/$;PIPELINEID$;_iter1/glimmer3.raw.list
$;OUTPUT_PWM$;=$;OUTPUT_DIRECTORY$;/all.motif
$;GLIMMER3_OUTPUT_TOKEN$;=iter2

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;STAGING_DIR$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=iter2
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;START_CODON_USAGE$;=0,0,0
$;GLIMMER3_OPTS$;=-o50 -g110 -t30 -z11 -b $;REPOSITORY_ROOT$;/output_repository/train_for_glimmer3_iteration/$;PIPELINEID$;_train_for_glimmer/all.motif -l -X
$;ICM$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.icm
$;STAGEDATA$;=$;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/train_for_glimmer3_iteration/$;PIPELINEID$;_train_for_glimmer/all.motif

[translate_sequence translate_prediction]
$;PROJECT_NAME$;=${params.OUTPUT_PREFIX}
$;OUTPUT_TOKEN$;=translate_prediction
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/glimmer3/$;PIPELINEID$;_iter2/glimmer3.bsml.list
$;TABLE$;=11
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[bsml2fasta prediction_CDS]
$;OUTPUT_FILE$;=CDS.fsa
$;OUTPUT_TOKEN$;=prediction_CDS
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/glimmer3/$;PIPELINEID$;_iter2/glimmer3.bsml.list
$;FORMAT$;=multi
$;PARSE_ELEMENT$;=feature
$;CLASS_FILTER$;=CDS
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;OUTPUT_TOKEN$;=promote_prediction
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/glimmer3/$;PIPELINEID$;_iter2/glimmer3.bsml.list
$;POLYPEPTIDE_FASTA$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate_prediction/translate_sequence.fsa.list
$;CDS_FASTA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_prediction_CDS/bsml2fasta.fsa.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate_prediction/translate_sequence.fsa.list $;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_prediction_CDS/bsml2fasta.fsa.list

[translate_sequence translate]
$;PROJECT_NAME$;=${params.OUTPUT_PREFIX}
$;OUTPUT_TRANSLATED_FILE$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.all.fsa
$;OUTPUT_TOKEN$;=translate
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list
$;TABLE$;=11
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[bsml2fasta create_blastx_pre_input]
$;OUTPUT_TOKEN$;=create_blastx_pre_input
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list
$;PARSE_ELEMENT$;=feature 
$;HEADER_CLASS$;=polypeptide
$;CLASS_FILTER$;=CDS
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[concatenate_files cds_pre]
$;OUTPUT_FILE$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.fsa
$;OUTPUT_TOKEN$;=cds_pre
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_create_blastx_pre_input/bsml2fasta.fsa.list

[run_command tag_cds]
$;OUTPUT_TOKEN$;=tag_cds
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=-o --tag-name $;PIPELINEID$;_cds_pre_concat $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_cds_pre/cds_pre.fsa
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-add-dataset

[run_command tag_polypeptides]
$;OUTPUT_TOKEN$;=tag_polypeptides
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate/translate_sequence.fsa.list | /opt/vappio-py/vappio/cli/vp-add-dataset --stdin --tag-name $;PIPELINEID$;_pre_polypeptides -o
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-add-dataset -o --tag-name $;PIPELINEID$;_pre_polypeptides; cat

[run_command calculate_blastx_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c input.CDS_TAG=$;PIPELINEID$;_cds_pre_concat -c params.PROGRAM=blastx -c cluster.CLUSTER_NAME=local -c misc.REP_DB=uniref100 "filter-keys input.CDS_TAG params.PROGRAM cluster.CLUSTER_NAME misc.REP_DB | sequence-stats | cunningham_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=calculate_blastx_cpu_hours

[run_command set_blastx_ergatis_values]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta split_cds_pre | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=set_blastx_ergatis_values

[run_command calculate_hmm_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c input.POLYPEPTIDE_TAG=$;PIPELINEID$;_pre_polypeptides "filter-keys input.POLYPEPTIDE_TAG | sequence-stats | cunninghmm_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=calculate_hmm_cpu_hours

[run_command set_hmm_ergatis_values]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "translate-keys pipeline.COMPUTED_HMM_CPU_HOURS=pipeline.COMPUTED_CPU_HOURS | blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES | translate-keys parameters.TOTAL_FILES=parameters.GROUP_COUNT | set-ergatis-component-values hmmpfam3 pre_overlap_analysis | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=set_hmm_ergatis_values

[run_command sum_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} "filter-keys pipeline.COMPUTED_CPU_HOURS pipeline.COMPUTED_HMM_CPU_HOURS | sum | translate-keys pipeline.SUM=pipeline.COMPUTED_CPU_HOURS"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=sum_cpu_hours

[run_command resize_cluster]
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=resize_cluster

[split_multifasta split_cds_pre]
$;OUTPUT_TOKEN$;=split_cds_pre
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_cds_pre/cds_pre.fsa
$;TOTAL_FILES$;=$;GROUP_COUNT$;
$;SEQS_PER_FILE$;=

[hmmpfam3 pre_overlap_analysis]
$;HMM_INFO_FILE$;=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;SKIP_HTAB$;=1
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate/translate_sequence.fsa.list
$;CUTOFFS$;=

[ncbi-blastx pre_overlap_analysis]
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/uniref100/uniref100.fasta
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;SKIP_WF_COMMAND$;=store config params,compress raw output,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_split_cds_pre/split_multifasta.fsa.list
$;SPLIT_BSML$;=1
$;SPLIT_BTAB$;=1
$;GROUP_COUNT$;=9999

[bsml2fasta pre_overlap_analysis]
$;OUTPUT_FILE$;=sequence.fsa
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list
$;FORMAT$;=multi
$;PARSE_ELEMENT$;=feature
$;BP_EXTENSION$;=300
$;CLASS_FILTER$;=CDS
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[formatdb pre_overlap_analysis]
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_pre_overlap_analysis/sequence.fsa
$;PROTEIN$;=F

[bsml2featurerelationships pre_overlap_analysis]
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list

[ber pre_overlap_analysis]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;PROTEIN_DB$;=${input.DATABASE_PATH}/db/uniref100/uniref100.fasta
$;OUTPUT_TOKEN$;=pre_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastx/$;PIPELINEID$;_pre_overlap_analysis/ncbi-blastx.btab.list
$;PROTEIN_NUCLEOTIDE_ID_MAP$;=$;REPOSITORY_ROOT$;/output_repository/bsml2featurerelationships/$;PIPELINEID$;_pre_overlap_analysis/bsml2featurerelationships.mapping.list
$;NUCLEOTIDE_DB_FORMAT$;=formatdb
$;NUCLEOTIDE_DB$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_pre_overlap_analysis/db
$;PROTEIN_DB_FORMAT$;=formatdb
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_pre_overlap_analysis $;REPOSITORY_ROOT$;/output_repository/bsml2featurerelationships/$;PIPELINEID$;_pre_overlap_analysis

[overlap_analysis default]
$;BSML_INPUT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list 
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/promote_gene_prediction/$;PIPELINEID$;_promote_prediction/promote_gene_prediction.bsml.list $;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam3.bsml.list $;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.bsml.list $;REPOSITORY_ROOT$;/output_repository/tRNAscan-SE/$;PIPELINEID$;_find_tRNA/tRNAscan-SE.bsml.list $;REPOSITORY_ROOT$;/output_repository/RNAmmer/$;PIPELINEID$;_default/RNAmmer.bsml.list
$;EVIDENCE_BSML$;=$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam3.bsml.list,$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.bsml.list
$;RNA_BSML$;=$;REPOSITORY_ROOT$;/output_repository/tRNAscan-SE/$;PIPELINEID$;_find_tRNA/tRNAscan-SE.bsml.list,$;REPOSITORY_ROOT$;/output_repository/RNAmmer/$;PIPELINEID$;_default/RNAmmer.bsml.list

[start_site_curation default]
$;CHARACTERIZED_DB$;=${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db
$;HMM_CODING_DB$;=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/overlap_analysis/$;PIPELINEID$;_default/overlap_analysis.bsml.list $;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.bsml.list $;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1
$;BSML_INPUT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/overlap_analysis/$;PIPELINEID$;_default/overlap_analysis.bsml.list
$;BER_EVIDENCE$;=$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.bsml.list

[translate_sequence translate_new_models]
$;OUTPUT_TRANSLATED_FILE$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.all.fsa
$;OUTPUT_TOKEN$;=translate_new_models
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.changed.bsml.list
$;PROJECT_NAME$;=parse
$;TABLE$;=11
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/i1

[bsml2fasta create_blastx_post_input]
$;OUTPUT_TOKEN$;=create_blastx_post_input
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.changed.bsml.list
$;PARSE_ELEMENT$;=feature 
$;HEADER_CLASS$;=polypeptide
$;CLASS_FILTER$;=CDS

[concatenate_files cds_post]
$;OUTPUT_FILE$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.fsa
$;OUTPUT_TOKEN$;=cds_post
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_create_blastx_post_input/bsml2fasta.fsa.list

[run_command tag_cds_post]
$;COMPRESS_OUTPUT$;=0
$;OUTPUT_TOKEN$;=tag_cds_post
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/tag_polypeptides.stdout
$;INPUT_ARGS$;=-o --tag-name=$;PIPELINEID$;_cds_post_concat $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_cds_post/cds_post.fsa
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-add-dataset

[run_command tag_polypeptides_post]
$;COMPRESS_OUTPUT$;=0
$;OUTPUT_TOKEN$;=tag_polypeptides_post
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/tag_polypeptides.stdout
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate/translate_sequence.fsa.list | /opt/vappio-py/vappio/cli/vp-add-dataset --stdin --tag-name $;PIPELINEID$;_post_polypeptides -o
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-add-dataset -o --tag-name $;PIPELINEID$;_post_polypeptides; cat

[run_command calculate_blastx_cpu_hours_post]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c input.CDS_TAG_POST=$;PIPELINEID$;_cds_post_concat -c params.PROGRAM=blastx -c cluster.CLUSTER_NAME=local -c misc.REP_DB=uniref100 "filter-keys input.CDS_TAG params.PROGRAM cluster.CLUSTER_NAME misc.REP_DB | sequence-stats | cunningham_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=calculate_blastx_cpu_hours_post

[run_command set_blastx_ergatis_values_post]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values_post.out
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta split_cds_post | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=set_blastx_ergatis_values_post

[run_command calculate_hmm_cpu_hours_post]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c input.POLYPEPTIDE_TAG=$;PIPELINEID$;_post_polypeptides "filter-keys input.POLYPEPTIDE_TAG | sequence-stats | cunninghmm_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=calculate_hmm_cpu_hours_post

[run_command set_hmm_ergatis_values_post]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.out
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "translate-keys pipeline.COMPUTED_HMM_CPU_HOURS=pipeline.COMPUTED_CPU_HOURS | blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES | translate-keys parameters.TOTAL_FILES=parameters.GROUP_COUNT | set-ergatis-component-values hmmpfam3 post_overlap_analysis | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=set_hmm_ergatis_values_post

[run_command sum_cpu_hours_post]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/$;OUTPUT_TOKEN$;.stdout
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} "filter-keys pipeline.COMPUTED_CPU_HOURS pipeline.COMPUTED_HMM_CPU_HOURS | sum | translate-keys pipeline.SUM=pipeline.COMPUTED_CPU_HOURS"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=sum_cpu_hours_post

[run_command resize_cluster_post]
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=resize_cluster_post

[split_multifasta split_cds_post]
$;OUTPUT_TOKEN$;=split_cds_post
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_cds_post/cds_post.fsa
$;TOTAL_FILES$;=$;GROUP_COUNT$;
$;SEQS_PER_FILE$;=

[hmmpfam3 post_overlap_analysis]
$;HMM_INFO_FILE$;=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;SKIP_HTAB$;=1
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_translate_new_models/translate_sequence.fsa.list
$;CUTOFFS$;=

[ncbi-blastx post_overlap_analysis]
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/uniref100/uniref100.fasta
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;SKIP_WF_COMMAND$;=store config params,dtd validation,compress raw output
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_split_cds_post/split_multifasta.fsa.list
$;SPLIT_BSML$;=1
$;SPLIT_BTAB$;=1
$;GROUP_COUNT$;=9999

[bsml2fasta post_overlap_analysis]
$;OUTPUT_FILE$;=sequence.fsa
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.changed.bsml.list
$;FORMAT$;=multi
$;PARSE_ELEMENT$;=feature
$;BP_EXTENSION$;=300
$;CLASS_FILTER$;=CDS
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[formatdb post_overlap_analysis]
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_post_overlap_analysis/sequence.fsa
$;PROTEIN$;=F

[bsml2featurerelationships post_overlap_analysis]
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.changed.bsml.list

[ber post_overlap_analysis]
$;PROJECT_ABBREVIATION$;=${params.OUTPUT_PREFIX}
$;PROTEIN_DB$;=${input.DATABASE_PATH}/db/uniref100/uniref100.fasta
$;OUTPUT_TOKEN$;=post_overlap_analysis
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastx/$;PIPELINEID$;_post_overlap_analysis/ncbi-blastx.btab.list
$;PROTEIN_NUCLEOTIDE_ID_MAP$;=$;REPOSITORY_ROOT$;/output_repository/bsml2featurerelationships/$;PIPELINEID$;_post_overlap_analysis/bsml2featurerelationships.mapping.list
$;NUCLEOTIDE_DB_FORMAT$;=formatdb
$;NUCLEOTIDE_DB$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_post_overlap_analysis/db
$;PROTEIN_DB_FORMAT$;=formatdb
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2featurerelationships/$;PIPELINEID$;_post_overlap_analysis/bsml2featurerelationships.mapping.list $;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_post_overlap_analysis

[translate_sequence final_polypeptides]
$;PROJECT_NAME$;=${params.OUTPUT_PREFIX}
$;OUTPUT_TRANSLATED_FILE$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.all.fsa
$;OUTPUT_TOKEN$;=final_polypeptides
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[bsml2fasta final_cds]
$;OUTPUT_TOKEN$;=final_cds
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;PARSE_ELEMENT$;=feature
$;CLASS_FILTER$;=CDS
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[concatenate_files final_polypeptides]
$;OUTPUT_TOKEN$;=final_polypeptides
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list 

[split_multifasta final_polypeptides]
$;OUTPUT_TOKEN$;=final_polypeptides
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_final_polypeptides/final_polypeptides.out
$;TOTAL_FILES$;=$;GROUP_COUNT$;
$;SEQS_PER_FILE$;=

[ncbi-blastp COGS]
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/ncbi/COG/myva
$;OUTPUT_TOKEN$;=COGS
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_final_polypeptides/split_multifasta.fsa.list
$;DATABASE_MATCHES$;=500
$;DESCRIPTIONS$;=500
$;FILTER$;=none
$;COMPRESS_BSML_OUTPUT$;=0

[ncbi-blastp eggNOG]
$;DATABASE_PATH$;=${input.DATABASE_PATH}/db/eggnog/sequences.v3.db
$;OUTPUT_TOKEN$;=eggNOG
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
$;DATABASE_MATCHES$;=500
$;DESCRIPTIONS$;=500
$;FILTER$;=none
$;COMPRESS_BSML_OUTPUT$;=0

[parse_evidence hmmpfam3_pre]
$;OTHER_PARSER_OPTIONS$;=hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs
$;OUTPUT_TOKEN$;=hmmpfam3_pre
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam3.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=HMM

[parse_evidence ber_pre]
$;OTHER_PARSER_OPTIONS$;=char_db=${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles
$;OUTPUT_TOKEN$;=ber_pre
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=BERUniprot

[parse_evidence hmmpfam3_post]
$;OTHER_PARSER_OPTIONS$;=hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs
$;OUTPUT_TOKEN$;=hmmpfam3_post
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_post_overlap_analysis/hmmpfam3.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=HMM

[parse_evidence ber_post]
$;OTHER_PARSER_OPTIONS$;=char_db=${input.DATABASE_PATH}/db/uniref100_lookup/uniref_annotation.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles
$;OUTPUT_TOKEN$;=ber_post
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_post_overlap_analysis/ber.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=BERUniprot

[parse_evidence hypothetical]
$;OUTPUT_TOKEN$;=hypothetical
$;PROJECT_CONFIG$;=/mnt/projects/clovr/workflow/project.config
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=Hypothetical

[parse_evidence eggNOG]
$;OTHER_PARSER_OPTIONS$;=alias=${input.DATABASE_PATH}/db/eggnog/protein.aliases.v3.txt members=${input.DATABASE_PATH}/db/eggnog/NOG.members.txt description=${input.DATABASE_PATH}/db/eggnog/NOG.description.txt fun=${input.DATABASE_PATH}/db/eggnog/fun.txt
$;OUTPUT_TOKEN$;=eggNOG
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_eggNOG/ncbi-blastp.bsml.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;BSML_FEATURE_LOOKUP_LIST$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;EVIDENCE_TYPE$;=eggNOG

[p_func default]
$;ROLES_DB_DIR$;=${input.DATABASE_PATH}/db/tigr_roles
$;OUTPUT_FILE_BASE_NAME$;=${params.OUTPUT_PREFIX}
$;INPUT_TAB_LISTS$;=$;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hmmpfam3_pre/parse_evidence.tab.list,$;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_ber_pre/parse_evidence.tab.list,$;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hmmpfam3_post/parse_evidence.tab.list,$;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_ber_post/parse_evidence.tab.list,$;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hypothetical/parse_evidence.tab.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hmmpfam3_pre/parse_evidence.tab.list $;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_ber_pre/parse_evidence.tab.list $;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hmmpfam3_post/parse_evidence.tab.list $;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_ber_post/parse_evidence.tab.list $;REPOSITORY_ROOT$;/output_repository/parse_evidence/$;PIPELINEID$;_hypothetical/parse_evidence.tab.list
$;SOURCE_BSML_FILE$;=$;REPOSITORY_ROOT$;/output_repository/start_site_curation/$;PIPELINEID$;_default/start_site_curation.bsml.list
$;SORT_BIN$;=/usr/bin/sort

[pipeline_summary default]
$;LOCUS_PREFIX$;=${params.OUTPUT_PREFIX}
$;ORGANISM$;=${params.ORGANISM}
$;COG_LOOKUP$;=${input.DATABASE_PATH}/db/ncbi/COG/whog
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/p_func/$;PIPELINEID$;_default/p_func.bsml.list
$;SOURCENAME$;=$;REPOSITORY_ROOT$;/output_repository/p_func/$;PIPELINEID$;_default
$;OTHER_BSML_LISTS$;=$;REPOSITORY_ROOT$;/output_repository/tRNAscan-SE/$;PIPELINEID$;_find_tRNA/tRNAscan-SE.bsml.list,$;REPOSITORY_ROOT$;/output_repository/RNAmmer/$;PIPELINEID$;_default/RNAmmer.bsml.list
$;POLYPEPTIDE_FASTA$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
$;COGS_BSML_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_COGS/ncbi-blastp.bsml.list
$;CDS_FASTA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list 
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/tRNAscan-SE/$;PIPELINEID$;_find_tRNA/tRNAscan-SE.bsml.list $;REPOSITORY_ROOT$;/output_repository/RNAmmer/$;PIPELINEID$;_default/RNAmmer.bsml.list $;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list $;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_COGS/ncbi-blastp.bsml.list $;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list $;OUTPUT_DIRECTORY$;

[bsml2tbl default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/pipeline_summary/$;PIPELINEID$;_default/pipeline_summary.bsml.list
$;EXPORT_MRNA_FEATURES$;=1
$;ALL_EC_NUMBERS$;=1
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list $;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list $;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default

[tbl2asn default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2tbl/$;PIPELINEID$;_default/bsml2tbl.tbl.list
$;FASTA_INPUT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[make_circleator_figure default]
$;SVG_BASENAME$;=${params.OUTPUT_PREFIX}.svg
$;GENBANK_DIR$;=$;REPOSITORY_ROOT$;/output_repository/tbl2asn/$;PIPELINEID$;_default

[tag_data clovr_microbe_annotation]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_microbe_annotation
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
polypeptide_fasta	$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
cds_fasta	$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list
annotation_genbank	$;REPOSITORY_ROOT$;/output_repository/tbl2asn/$;PIPELINEID$;_default/tbl2asn.gbf.list
annotation_sqn	$;REPOSITORY_ROOT$;/output_repository/tbl2asn/$;PIPELINEID$;_default/tbl2asn.sqn.list
summary_report  $;REPOSITORY_ROOT$;/output_repository/bsml2tbl/$;PIPELINEID$;_default/summary_report.txt
circleator_pdf  $;REPOSITORY_ROOT$;/output_repository/make_circleator_figure/$;PIPELINEID$;_default/make_circleator_figure.pdf.list
circleator_jpg  $;REPOSITORY_ROOT$;/output_repository/make_circleator_figure/$;PIPELINEID$;_default/make_circleator_figure.jpg.list
bsml_pipeline_summary	$;REPOSITORY_ROOT$;/output_repository/pipeline_summary/$;PIPELINEID$;_default/pipeline_summary.bsml.list
bsml_hmmpfam3_pre	$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_pre_overlap_analysis/hmmpfam3.bsml.list
bsml_hmmpfam3_post	$;REPOSITORY_ROOT$;/output_repository/hmmpfam3/$;PIPELINEID$;_post_overlap_analysis/hmmpfam3.bsml.list
btab_ber_pre	$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.btab.list
btab_ber_post	$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_post_overlap_analysis/ber.btab.list
raw_ber_pre	$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_pre_overlap_analysis/ber.raw.list
raw_ber_post	$;REPOSITORY_ROOT$;/output_repository/ber/$;PIPELINEID$;_post_overlap_analysis/ber.raw.list
formatdb_nuc	$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_nuc
formatdb_prot	$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_prot
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

[concatenate_files prot]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_final_polypeptides/translate_sequence.fsa.list
$;OUTPUT_TOKEN$; = prot

[concatenate_files nuc]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_final_cds/bsml2fasta.fsa.list
$;OUTPUT_TOKEN$; = nuc

[formatdb nuc]
$;INPUT_FILES$; = $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/nuc.out
$;DATABASE_NAME$; = ${params.OUTPUT_PREFIX}_dbn.fa
$;PROTEIN$; = F

[formatdb prot]
$;INPUT_FILES$; = $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/prot.out
$;DATABASE_NAME$; = ${params.OUTPUT_PREFIX}_dbp.fa
$;PROTEIN$; = T
