[run_command createbatchtab]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/runpipeline.out
$;INPUT_ARGS$;=--pipeline-config=${CONFIG_FILE} --batch-tab=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_createbatchtab/batch.tab
$;INPUT_COMMAND$;=vp-create-batch
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1


[run_command runpipeline]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/runpipeline.out
$;INPUT_ARGS$;=--pipeline-config=${CONFIG_FILE} --batch-states=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/batch_states.json --batch-file=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_createbatchtab/batch.tab --workflow-config=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/$;COMPONENT_NAME$;.$;OUTPUT_TOKEN$;.final.config --pipeline-queue=pipeline.q
$;INPUT_COMMAND$;=vp-run-batch-wrapper
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
