## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
GROUP_COUNT=2
##FASTA_FILES=/mnt/upload/Lung/multi/A.fasta /mnt/upload/Lung/multi/B.fasta /mnt/upload/Lung/multi/C.fasta /mnt/upload/Lung/multi/D.fasta
##MAPPING_FILE=/mnt/upload/Lung/multi/IGS.multi.meta
FASTA_FILES=/mnt/upload/Lung/AMP01_LUNG.small.fasta
MAPPING_FILE=/mnt/upload/Lung/IGS.qmap
##FASTA_FILES=/mnt/upload/celiac_total_jrw.fixed.fasta
##MAPPING_FILE=/mnt/upload/celiac_total_jrw.fixed.mapping
##FASTA_FILES=/mnt/upload/Lung_16S/Lung.jrw.fna
##MAPPING_FILE=/mnt/upload/Lung_16S/Lung.jrw.mapping
##FASTA_FILES=/mnt/upload/jsahl.fna
##MAPPING_FILE=/mnt/upload/jsahl.mapping


PIPELINE_NAME=clovr_16S_pipeline 
FASTA_TAG=16S_FASTA
MAPPING_TAG=MAPPING
DB_TAG=clovr-core-set-aligned-imputed-fasta

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_TAG=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_TYPE=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/clovr_16S_run.log
## the higher, the more output (3 = most verbose)
debug_level=3

[pipeline]
PIPELINE_TEMPLATE=clovr_16S
PIPELINE_ARGS=--FASTA_FILES=${input.FASTA_TAG} --MAPPING_FILE=${input.MAPPING_TAG} --DB_PATH=${input.DB_TAG} --GROUP_COUNT=${input.GROUP_COUNT} 

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_16S/clovr_16S.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_16S/clovr_16S.prerun.xml
#Postrun is run after pipeline completion and after download data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_16S/clovr_16S.postrun.xml
