[qiime_mothur_cnvr default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;MIN_LENGTH$;=100
$;BARCODES$;=variable_length

[core_qiime default]
$;CUSTOM_PARAMETERS_FILE$;=/opt/bioinf/qiime/db/custom_params.txt
$;MAPPING_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/Data.processed.map
$;META_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.meta
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/splitlibs/seqs.fna
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/Data.processed.map $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.meta

[metastats qiime]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.pairedtables.list

[skiff qiime]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list

[histogram_stacked qiime]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list

[mothur_trim_seqs default]
$;OLIGOS_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.oligos
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/Processed.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.oligos
$;MAXIMUM_AMBIGUOUS_BASES$;=0
$;FLIP$;=F
$;MINIMUM_LENGTH$;=100
$;MAXIMUM_HOMOPOLYMER_LENGTH$;=8

[mothur_unique_seqs default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.trim.fasta.list

[mothur_align_seqs default]
$;TEMPLATE_FILE$;=${input.REF_DB_FILE_LIST}/core_set_aligned.imputed.fasta
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_default/mothur_unique_seqs.unique.fasta.list

[mothur_screen_seqs default]
$;NODISTRIB$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_align_seqs/$;PIPELINEID$;_default/mothur_align_seqs.align.list
$;GROUPS_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.groups.list
$;NAMES_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_default/mothur_unique_seqs.names.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_default/mothur_unique_seqs.names.list $;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.groups.list
$;CONFIG_OPTIONS$;=minlength=50

[mothur_filter_seqs default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.align.list

[rdp_classifier default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.trim.fasta.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.groups.list $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.meta

[clovr_16S_rdptables default]
$;PAIRED_TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/rdp_classifier.pairedtables.list
$;TABLE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/rdp_classifier.tables.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.groups.list $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/mothur.meta
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.results.list
$;META_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/mothur.meta
$;GROUPS_FILE$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.groups.list 

[skiff default]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.tables.list

[histogram_stacked default]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.tables.list

[metastats default]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.pairedtables.list

[mothur_unique_seqs otu_assignment]
$;OUTPUT_TOKEN$;=otu_assignment
$;NODISTRIB$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_filter_seqs/$;PIPELINEID$;_default/mothur_filter_seqs.filter.fasta.list
$;NAMES_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.names.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.names.list

[mothur_unique_seq_limit default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.unique.fasta.list
$;NAMES_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.names.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.names.list
$;FAUX_NAMES$;=/opt/opt-packages/mothur-1.12.0/empty.names
$;SEQLIMIT$;=30000
$;FAUX_FASTA$;=/opt/opt-packages/mothur-1.12.0/emptyalign.fasta

[mothur_dist_seqs default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.unique.fasta.list
$;CUTOFF$;=0.10

[mothur_cluster default]
$;NODISTRIB$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_dist_seqs/$;PIPELINEID$;_default/mothur_dist_seqs.dist.list
$;NAMES_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.names.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.names.list
$;DIST_FORMAT$;=column

[mothur_read_otu default]
$;NODISTRIB$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_cluster/$;PIPELINEID$;_default/mothur_cluster.list.list
$;GROUPS_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.groups.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.groups.list
$;LABEL$;=0.03-0.05-0.10
$;OTU_FORMAT$;=list

[mothur_collect_single default]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.rabund.list
$;CONFIG_OPTIONS$;=freq=5
$;OTU_FORMAT$;=rabund

[mothur_rarefaction_single default]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.rabund.list
$;CONFIG_OPTIONS$;=freq=5
$;OTU_FORMAT$;=rabund

[mothur_summary single]
$;GROUP_COUNT$;=${params.GROUP_COUNT}
$;OUTPUT_TOKEN$;=single
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.rabund.list
$;OTU_FORMAT$;=rabund
$;SUMMARY_TYPE$;=single

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
read_mapping	$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/Data.processed.list
qiime_otu_table	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/OTU_Table.list
qiime_fasttree	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Fasttree.list
qiime_heatmap	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/otu_heatmap
qiime_summary_tables	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list
qiime_summary_histograms	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/histogram_stacked_qiime/histogram_stacked.results.list
qiime_skiff	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/skiff_qiime/skiff.results.list
qiime_metastats	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/metastats_qiime/metastats.results.list
qiime_beta	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/beta_diversity
rdp_res	$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.results.list
rdp_tables	$;REPOSITORY_ROOT$;/output_repository/rdp_classifier/$;PIPELINEID$;_default/rdp_classifier.tables.list
rdp_skiff	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_default/skiff.results.list
rdp_metastats	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_default/metastats.results.list
rdp_histograms	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_default/histogram_stacked.results.list
mothur_otu_list	$;REPOSITORY_ROOT$;/output_repository/mothur_cluster/$;PIPELINEID$;_default/mothur_cluster.list.list
mothur_shannon	$;REPOSITORY_ROOT$;/output_repository/mothur_collect_single/$;PIPELINEID$;_default/mothur_collect_single.shannon.list
mothur_chao	$;REPOSITORY_ROOT$;/output_repository/mothur_collect_single/$;PIPELINEID$;_default/mothur_collect_single.chao.list
mothur_ace	$;REPOSITORY_ROOT$;/output_repository/mothur_collect_single/$;PIPELINEID$;_default/mothur_collect_single.ace.list
mothur_rare	$;REPOSITORY_ROOT$;/output_repository/mothur_rarefaction_single/$;PIPELINEID$;_default/mothur_rarefaction_single.rarefaction.list
mothur_summary	$;REPOSITORY_ROOT$;/output_repository/mothur_summary/$;PIPELINEID$;_single/mothur_summary.summary.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

