[qiime_mothur_cnvr default]
$;INPUT_FILE_LIST$;=${input.FASTA_TAG}
$;MAPPING_FILE$; = ${input.MAPPING_TAG}
$;MIN_LENGTH$; = 100
$;BARCODES$;=variable_length

[core_qiime default]
$;CUSTOM_PARAMETERS_FILE$; = /opt/bioinf/qiime/db/custom_params.txt

[metastats default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[metastats qiime]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[skiff default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[skiff qiime]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[mothur_align_seqs default]
$;TEMPLATE_FILE$; = ${input.DB_TAG}/core_set_aligned.imputed.fasta

[mothur_collect_single default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[mothur_rarefaction_single default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[mothur_summary single]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}
