## Configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]

INPUT_SFF_FILE={"display": "Input SFF File", "default": "/mnt/user_data/BD413_wt_contig170.sff", "desc": "Input is a single SFF file"}

## pipeline name
## if pipeline is already present, will simply monitor it
## otherwise will create the pipeline with current settings
PIPELINE_NAME={"display": "Pipeline Name", "default": "BD413_minitest", "desc": "Name of the pipeline, should be unique for all runs"}

## organism info
OUTPUT_PREFIX={"display": "Organism Output Prefix", "default": "BD413_mini", "desc": "The output prefix to use for the organism"}
ORGANISM={"display": "Organism", "default": "Acinetobacter baylii", "desc": "Genus and species for the organism.  Must be two words"}

## sff_to_CA options
##
## trim can be one of the following values:
## none, soft, hard, chop
TRIM={"display": "Trim", "default": "chop", "desc": "Can be one of following: none, soft, hard, chop"}
##
## clear can be one of the following values:
## all, 454, none, n, pair-of-n, discard-n
CLEAR={"display": "Clear", "default": "454", "desc": "Can be one of the following: all, 454, none, n, pair-of-n, discard-n"}
LINKER={"display": "Linker", "default": "titanium", "desc": "Type of linker"}
INSERT_SIZE={"display": "Insert size", "default": "8000 1000", "desc": "Input size"}

## celera assembler options
SPEC_FILE={"display": "Spec file", "default": "/dev/null", "desc": null}
SKIP_BANK={"display": "Skip bank", "default": 0, "desc": "Skip making the bank file or not, 0 for no, 1 for yes (this should be removed in future"}

INPUT_TAG={"display": "Input tag", "default": "SOMETAG", "desc": "Input tag name.  Must be unique for each pipeline. If not specified a unique one will be created"}
REFERENCE_DB_TAG={"display": "Reference DB", "default": "clovr-prok-db", "default_hidden": True, "desc": "Reference database for HMM and BLAST searches.  Default value should be sufficient"}

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_TAG={"display": "Cluster Name", "default": "local", "desc": "Name of cluster to create"}
EXEC_NODES={"default": 10, "default_hidden": True, "desc": "Number of exec nodes, set this only if you want to override a metric"}
CLOVR_CONF={"default": "clovr.conf", "default_hidden": True, "desc": "Config file, should not need to specify manually"}
CLUSTER_TYPE={"display": "Cluster Type", "default": "local", "default_hidden": True, "desc": "Not sure"}

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY={"display": "Output Directory", "default": "/mnt/output", "desc": "Directory to download output to, this should be located in /mnt somewhere"}
log_file={"default": "/mnt/clovr_microbe454.log", "default_hidden": True, "desc": "Log file, should only be needed if something goes wrong"}
## the higher, the more output (3 = most verbose)
debug_level={"default": 3, "default_hidden": True, "desc": "Debug level, I don't think this is needed anymore"}


[pipeline]
PIPELINE_TEMPLATE={"default": "clovr_microbe454", "default_hidden": True, "desc": "The type of the pipeline we are running"}
PIPELINE_ARGS={"default": "--INPUT_FILE_LIST=${input.INPUT_TAG} --OUTPUT_PREFIX=${input.OUTPUT_PREFIX} --ORGANISM=\"${input.ORGANISM}\" --DATABASE_PATH=${input.REFERENCE_DB_TAG} --conf=${cluster.CLOVR_CONF} --GROUP_COUNT=${cluster.EXEC_NODES} --TRIM=${input.TRIM} --LINKER=${input.LINKER} --CLEAR=${input.CLEAR} --SPEC_FILE=${input.SPEC_FILE} --SKIP_BANK=${input.SKIP_BANK} --INSERT_SIZE=\"${input.INSERT_SIZE}\"", "desc": "Default way to compose variables"}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe454/clovr_microbe454.prestart.xml", "desc": null}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe454/clovr_microbe454.prerun.xml", "desc": null}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "desc": null}


