## Configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]

## The input tag name for sff input data
## Should already be tagged data
## See tagData.py --help for more info
INPUT_SFF_TAG={"display": "Input Tag", "desc": "The input tag for this pipeline", "source": "tags"}

## These are the output tags which will be downloaded
## at the end of the pipeline to the local VM.
## Possible options:
TAGS_TO_DOWNLOAD={"display": "Tags to download", "default": "assembly_scf,assembly_qc,polypeptide_fasta,cds_fasta,annotation_genbank,annotation_sqn", "desc": "The pipeline generates a number of output files, you can choose which of these outputs to download"}

## pipeline name
## if pipeline is already present, will simply monitor it
## otherwise will create the pipeline with current settings
PIPELINE_NAME={"display": "Pipline name", "default": "illumina_annotation", "desc": "The name of the pipeline"}

## organism info
OUTPUT_PREFIX={"display": "Output prefix for the organism", "default": "asmbl", "desc": "Organisms have a prefix on them"}
ORGANISM={"display": "Organism", "desc": "Genus and species of the organism.  Must be two words in the form of: Genus species"}

## sff_to_CA options
##
## trim can be one of the following values:
## none, soft, hard, chop
TRIM={"display": "Trim", "default": "chop", "desc": "Can be one of the following [none soft hard chop]"}
##
## clear can be one of the following values:
## all, 454, none, n, pair-of-n, discard-n
CLEAR={"display": "Clear", "default": "454", "desc": "Can be one of the following [all 454 none n pair-of-n discard-n]"}
LINKER={"display": "Linker", "default": "titanium", "desc": "What linker to use"}
INSERT_SIZE={"display": "Insert size", "default": "8000 1000", "desc": "Insert size, must be two numbers separated by a space"}

## celera assembler options
SPEC_FILE={"display": "Spec file", "default": "/dev/null", "desc": null}
SKIP_BANK={"display": "Skip bank", "default": 0, "desc": "Whether to skip the bank file creation or not, if running on anything but local set to 1"}

## For the annotation portion of the pipeline.
REFERENCE_DB_TAG={"display": "Reference database", "default": "clovr-prok-db", "desc": "Reference database to use", "source": "tags"}

## How many groups for ergatis
GROUP_COUNT={"display": "Group count", "default": 20, "desc": "Shouldn't need to modify"}


##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME={"display": "Cluster name", "default": "local", "desc": "The name of the cluster to use"}
EXEC_NODES={"default": 0, "desc": "The number of exec nodes to bring up"}
CLOVR_CONF={"default": "clovr.conf", "default_hidden": true, "desc": "Configuration file to use, you shouldn't need to modify this"}
CLUSTER_CREDENTIAL={"display": "Cluster credential", "default": "local", "desc": "The credential to use for the cluster", "source": "credentials"}

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY={"display": "Output directory", "default": "/mnt/output", "desc": "Directory to put output files"}

[pipeline]
PIPELINE_TEMPLATE={"default": "clovr_microbe454", "always_hidden": true, "desc": null}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe454/clovr_microbe454.prestart.xml", "always_hidden": true, "desc": null}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe454/clovr_microbe454.prerun.xml", "always_hidden": true, "desc": null}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe454/clovr_microbe454.postrun.xml", "always_hidden": true, "desc": null}
DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "always_hidden": true, "desc": null}
