[global]
$;PREFIX$; = ${input.OUTPUT_PREFIX}

[sff_to_CA default]
$;LIBRARY$; = ${input.OUTPUT_PREFIX}
$;TRIM$; = ${input.TRIM}
$;CLEAR$; = ${input.CLEAR}
$;LINKER$; = ${input.LINKER}
$;INSERT_SIZE$; = ${input.INSERT_SIZE}
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}

[celera_assembler_cloud default]
$;SPEC_FILE$; = ${input.SPEC_FILE}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[celera2hawkeye default]
$;OUTPUT_PREFIX$; = $;PREFIX$;
$;INPUT_FILES$; = -a $;REPOSITORY_ROOT$;/output_repository/celera_assembler_cloud/$;PIPELINEID$;_default/$;PREFIX$;/9-terminator/$;PREFIX$;.asm -f $;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default/$;PREFIX$;.frg
$;SKIP_WF_COMMAND$;=${input.SKIP_BANK}

[split_multifasta default]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/celera_assembler_cloud/$;PIPELINEID$;_default/celera_assembler_cloud.scf.fasta.list

[RNAmmer default]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate_prediction]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[run_command calculate_cpu_hours]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c params.SCALE_FACTOR=2 -c input.POLYPEPTIDE_TAG=$;PIPELINEID$;_polypeptides -c misc.PROGRAM=blastp -c cluster.CLUSTER_NAME=local "filter-keys input.POLYPEPTIDE_TAG misc.PROGRAM cluster.CLUSTER_NAME params.SCALE_FACTOR | sequence-stats | blast-calculate-cpu-hours"`
$;COMMAND_STDOUT$; = $;OUTPUT_DIRECTORY$;/calculate_cpu_hours.stdout

[run_command resize_cluster]
$;INPUT_COMMAND$; = /opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | calculate-instances | resize-cluster"`

[hmmpfam pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;HMM_INFO_FILE$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db

[ncbi-blastp pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/panda/AllGroup/AllGroup.niaa

[ber pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;PROTEIN_DB$; = ${input.DATABASE_PATH}/db/panda/AllGroup/AllGroup.niaa

[overlap_analysis default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence final_polypeptides]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[ncbi-blastp COGS]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/ncbi/COG/myva

[parse_evidence hmmpfam_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs

[parse_evidence ber_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = ber_info=${input.DATABASE_PATH}/db/tchar/tchar.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles

[parse_evidence hypothetical]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[p_func default]
$;OUTPUT_FILE_BASE_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;ROLES_DB_DIR$; = ${input.DATABASE_PATH}/db/tigr_roles

[pipeline_summary default]
$;LOCUS_PREFIX$; = ${input.OUTPUT_PREFIX}
$;ORGANISM$; = ${input.ORGANISM}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;COG_LOOKUP$; = ${input.DATABASE_PATH}/db/ncbi/COG/whog

[bsml2tbl default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tbl2asn default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tag_data clovr_assembly_celera]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}

[tag_data clovr_microbe_annotation]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
