[run_command deploysybil]
$;INPUT_COMMAND$;= perl /mnt/configure_sybil.pl
$;INPUT_ARGS$;=--server=localhost --username=${params.USERNAME} --password=${params.PASSWORD} --db_name=${params.SITE_NAME} --load_archive=${input.SYBIL_ARCHIVE_FILE} --output_dir=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_deploy_sybil/

[run_command tagsite]
$;INPUT_COMMAND$;=perl /opt/ergatis/bin/tag_website.pl
$;INPUT_ARGS$;=--tag-name=sybil_website --pipeline_id=${pipeline.PIPELINE_WRAPPER_NAME} --url=`hostname`/sybil/`cat $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_deploy_sybil/sitename` --metadata='format_type=sybil_website,description="A sybil website deployed on `hostname` for `cat $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_deploy_sybil/sitename`"'

#[tag_data clovr_sybil]
#$;OUTPUT_TOKEN$;=clovr_sybil
#$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
#$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
#$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
#sybil_archive   $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_archivesybil/${params.SITE_NAME}_sybil.tgz	format_type=sybil_archive,description="Use this file to deploy the sybil site ${params.SITE_NAME}."\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
#workflow_xml_tag        $;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
#_EOT
#$;PIPELINE_ID$;=$;PIPELINEID$;
#$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

