## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
FASTA_TAG={"display": "Input Fasta Tag", "default": "clovr_metagenomics_orfs_fasta", "desc": "Input fasta tag", "source": "tags"}

MAPPING_TAG={"display": "Mapping tag", "default": "clovr_metagenomics_orfs_map", "desc": "Mapping tag for pipleline", "source": "tags"}

PROTEIN_DB_TAG={"display": "Functional (protein) database tag", "default": "clovr-cogdb", "desc": "Reference database", "source": "tags"}

NUCLEOTIDE_DB_TAG={"display": "Taxonomic (nucleotide) database tag", "default": "clovr-refseqdb", "desc": "Reference database", "source": "tags"}

PIPELINE_NAME={"display": "Pipeline name", "default": "clovr_metagenomics_orfs_pipeline", "desc": "Name of pipeline"}

#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################
[params]
TOTAL_FILES={"display": "Total file", "default": 1, "desc": "Number of file to create, you don't need to modify this"}
NUM_SEQS={"display": "MetaGene group size", "default": 400, "visibility": "default_hidden", "desc": "Number of groups to create for MetaGene, you don't need to modify this"}
GROUP_COUNT={"display": "Group count", "default": 1, "desc": "Number of groups to create, you don't need to modify this"}


##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME={"display": "Cluster Name", "default": "local", "visibility": "default_hidden", "desc": "Cluster name to run this on, shouldn't need to specify manually"}
EXEC_NODES={"default": 0, "visibility": "default_hidden", "desc": "Number of exec nodes, should not need to specify manually"}
CLOVR_CONF={"default": "clovr.conf", "visibility": "default_hidden", "desc": "Config file, should not need to specify manually"}
CLUSTER_CREDENTIAL={"display": "Credential", "default": "local", "desc": "Credential to use to make the cluster"}


#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY={"display": "Output Directory", "default": "/mnt/output", "desc": "Directory to download output to, this should be located in /mnt somewhere"}

TAGS_TO_DOWNLOAD={"display": "Download tags", "default": "uclust_clusters,blast_functional,tables_functional,piecharts_functional,skiff_functional,metastats_functional,histograms_functional,blast_taxonomy,tables_taxonomy,piecharts_taxonomy,skiff_taxonomy,metastats_taxonomy,histograms_taxonomy", "desc": "Comma separated list of tags that should be downloaded"}

[pipeline]
PIPELINE_TEMPLATE={"default": "clovr_metagenomics_orfs", "visibility": "always_hidden", "desc": "The type of the pipeline we are running"}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "visibility": "always_hidden", "desc": null}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_orfs/clovr_metagenomics_orfs.prerun.xml", "visibility": "always_hidden", "desc": null}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_metagenomics_orfs/clovr_metagenomics_orfs.postrun.xml", "visibility": "always_hidden", "desc": null}
DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "desc": null}
