[clovr_metagenomics_prep default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}

[run_command uclust_calc_cpu_hrs]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local -c params.CPU_HRS_PER_FILE=0.5 -c params.SEQS_PER_FILE=1500000 "filter-keys input.FASTA_TAG cluster.CLUSTER_NAME params.CPU_HRS_PER_FILE params.SEQS_PER_FILE | sequence-stats | split_fasta-to-cpu-hours | calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[split_multifasta uclust]
$;SEQS_PER_FILE$;=1500000
$;OUTPUT_DIRECTORY$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=uclust
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_prep/$;PIPELINEID$;_default/Data.processed.fasta 
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 1

[uclust default]
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_uclust/split_multifasta.fsa.list 
$;SORT_ALGORITHM$;=mergesort
$;IDENTITY_THRESHOLD$;=0.99
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[uclust_remove_replicates default]
$;SORTED_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.sorted.list
$;REPLICATE_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.replicates.list
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_default/uclust.clstr.list 
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[concatenate_files default]
$;OUTPUT_FILE$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.fna
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_default/uclust.fsa.list 

[run_command calculate_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local -c params.PROGRAM=blastn -c misc.REP_DB=clovr-refseqdb -c params.SCALE_FACTOR=2.2 -c params.AVG_QUERY_SEQ_LEN=10 -c params.NUM_QUERY_SEQ=10 "filter-keys input.FASTA_TAG cluster.CLUSTER_NAME params.PROGRAM params.SCALE_FACTOR misc.REP_DB params.AVG_QUERY_SEQ_LEN params.NUM_QUERY_SEQ | tag-is-fasta | cunningham_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[run_command set_ergatis_values]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta blast | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[run_command set_ergatis_values2]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values2.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta multi | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[run_command resize_cluster]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[split_multifasta blast]
$;TOTAL_FILES$;=${params.TOTAL_FILES}
$;OUTPUT_DIRECTORY$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=blast
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_default/concatenate_files.fna 
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 1

[metagene default]
$;NUM_SEQS$;=${params.NUM_SEQS}
$;SKIP_WF_COMMAND$;=store config params,dtd validation,get_seq_by_metagene,create tbl list,create gbk list
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_blast/split_multifasta.fsa.list
$;CUTOFF$;= 
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

[translate_sequence default]
$;REVISION$;=$Revision: 5801 $
$;SKIP_WF_COMMAND$;=create bsml list,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/metagene/$;PIPELINEID$;_default/metagene.bsml.list
$;CLEANUP$;=1
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

[uclust polypeptide]
$;OUTPUT_TOKEN$;=polypeptide
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_default/translate_sequence.concat.fsa
$;SORT_ALGORITHM$;=mergesort
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[split_multifasta multi]
$;TOTAL_FILES$;=${params.TOTAL_FILES}
$;OUTPUT_TOKEN$;=multi
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_polypeptide/uclust.fsa.list
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

[ncbi-blastp default]
$;OTHER_OPTS$;=-W 3 -m 8 2> /dev/null | cat
$;DATABASE_PATH$;=${input.PROTEIN_DB_PATH}
$;REVISION$;=$Revision: 5801 $
$;SKIP_WF_COMMAND$;=create bsml list,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_multi/split_multifasta.fsa.list
$;COMPRESS_RAW_OUTPUT$;=0
$;DATABASE_MATCHES$;=10
$;EXPECT$;=1e-3
$;DESCRIPTIONS$;=1
$;COMPRESS_BSML_OUTPUT$;=0
$;GROUP_COUNT$;=3000
$;NODISTRIB$;=0

[clovr_metagenomics_tables functional]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.PROTEIN_DB_PATH}.antn
$;OUTPUT_TOKEN$;=functional
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.raw.list $;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list $;REPOSITORY_ROOT$;/output_repository/metagene/$;PIPELINEID$;_default/metagene.bsml.list $;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_polypeptide/uclust.clstr.list
$;PREFIX$;=functional 
$;CLUSTER_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;BLAST_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.raw.list
$;POLYPEPTIDE_CLUSTER_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_polypeptide/uclust.clstr.list
$;BSML_METAGENE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/metagene/$;PIPELINEID$;_default/metagene.bsml.list

[metastats functional]
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/pairedtables.list
$;GROUP_COUNT$;=20
$;NODISTRIB$;=0

[skiff functional]
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[piecharts functional]
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[histogram_stacked functional]
$;OUTPUT_TOKEN$;=functional
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[ncbi-blastn default]
$;OTHER_OPTS$;=-W 11 -m 8 2> /dev/null | cat
$;DATABASE_PATH$;=${input.NUCLEOTIDE_DB_PATH}
$;REVISION$;=$Revision: 6089 $
$;SKIP_WF_COMMAND$;=create bsml list,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_blast/split_multifasta.fsa.list 
$;DATABASE_MATCHES$;=10
$;DESCRIPTIONS$;=1
$;GROUP_COUNT$; = 3000
$;NODISTRIB$; = 0

[clovr_metagenomics_tables taxonomy]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.NUCLEOTIDE_DB_PATH}.antn  
$;OUTPUT_TOKEN$;=taxonomy
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list $;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;PREFIX$;=taxonomy
$;CLUSTER_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.clstr.list
$;BLAST_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list 

[metastats taxonomy]
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/pairedtables.list
$;GROUP_COUNT$;=20
$;NODISTRIB$;=0

[skiff taxonomy]
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[piecharts taxonomy]
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[histogram_stacked taxonomy]
$;OUTPUT_TOKEN$;=taxonomy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list
$;GROUP_COUNT$;=5
$;NODISTRIB$;=0

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
read_mapping	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_prep/$;PIPELINE_ID$;_default/Data.processed.list\n
uclust_clusters	$;REPO_ROOT$;/output_repository/uclust/$;PIPELINE_ID$;_default/uclust.clstr.list\n
artificial_replicates	$;REPOSITORY_ROOT$;/output_repository/uclust_remove_replicates/$;PIPELINEID$;_default/uclust_remove_replicates.replicates.list\n
blast_functional	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.raw.list\n
tables_functional	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/tables.list\n
rawantn_functional	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_functional/rawannotation.list\n
piecharts_functional	$;REPOSITORY_ROOT$;/output_repository/piecharts/$;PIPELINEID$;_functional/piecharts.results.list\n
skiff_functional	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_functional/skiff.results.list\n
metastats_functional	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_functional/metastats.results.list\n
histograms_functional	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_functional/histogram_stacked.results.list\n
blast_taxonomy	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list\n
tables_taxonomy	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list\n
rawantn_taxonomy	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/rawannotation.list\n
piecharts_taxonomy	$;REPOSITORY_ROOT$;/output_repository/piecharts/$;PIPELINEID$;_taxonomy/piecharts.results.list\n
skiff_taxonomy	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_taxonomy/skiff.results.list\n
metastats_taxonomy	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_taxonomy/metastats.results.list\n
histograms_taxonomy	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_taxonomy/histogram_stacked.results.list\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

