[clovr_metagenomics_prep default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}

[split_multifasta uclust]
$;SEQS_PER_FILE$;=1000000
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[uclust default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[uclust_remove_replicates default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[run_command calculate_cpu_hours]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local -c misc.PROGRAM=blastn -c misc.REP_DB=clovr-refseqdb -c params.SCALE_FACTOR=2.2 -c params.AVG_QUERY_SEQ_LEN=10 -c params.NUM_QUERY_SEQ=10 "filter-keys input.FASTA_TAG cluster.CLUSTER_NAME misc.PROGRAM params.SCALE_FACTOR misc.REP_DB params.AVG_QUERY_SEQ_LEN params.NUM_QUERY_SEQ | tag-is-fasta | cunningham_calc_cpu_hours"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.out

[run_command set_ergatis_values]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta blast | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out

[run_command resize_cluster]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "calculate-instances | resize-cluster"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out


[split_multifasta blast]
$;TOTAL_FILES$;= ${params.TOTAL_FILES}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[ncbi-blastn default]
$;DATABASE_PATH$;=${input.NUCLEOTIDE_DB_FILE_LIST}/RefSeqdb
$;GROUP_COUNT$; = ${params.GROUP_COUNT}
$;OTHER_OPTS$;=-W 11 -m 8

[clovr_metagenomics_tables taxonomy]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.NUCLEOTIDE_DB_FILE_LIST}/RefSeqdb.antn  

[metastats taxonomy]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[skiff taxonomy]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[piecharts taxonomy]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[metagene default]
$;NUM_SEQS$; = ${params.NUM_SEQS}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[translate_sequence default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[split_multifasta multi]
$;TOTAL_FILES$;= ${params.TOTAL_FILES}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[ncbi-blastp default]
$;DATABASE_PATH$;=${input.PROTEIN_DB_FILE_LIST}/clovr-cogdb/COGdb
$;OTHER_OPTS$;=-W 3 -m 8
$;GROUP_COUNT$; = ${params.GROUP_COUNT}


[clovr_metagenomics_tables functional]
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;ANNOTATION_FILE$;=${input.PROTEIN_DB_FILE_LIST}/clovr-cogdb/COGdb.2.antn

[metastats functional]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[skiff functional]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[piecharts functional]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[histogram_stacked functional]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[histogram_stacked taxonomy]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}



[tag_data default]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
