[run_command prepare_soapdenovo_config]
$;INPUT_COMMAND$;=/opt/ergatis/bin/prepare_soapdenovo_config 
$;INPUT_ARGS$;=-l ${params.MAX_RD_LEN} -i ${params.AVG_INS} -r ${params.REV_SEQ} -a ${params.ASM_FLAGS} -p ${params.PAIR_NUM_CUTOFF} -m ${params.MAP_LEN} --q1 `head -n 1 ${input.INPUT_MATE1}` --q2 `head -n 1 ${input.INPUT_MATE2}` --q ${input.INPUT_SINGLETON} -o $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_soapdenovo_config/config.txt

[soapdenovo default]
$;KMER_SIZE$;=${params.KMER_SIZE}
$;OUTPUT_PREFIX$;=scaffolds
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_soapdenovo_config/config.txt

[run_command filter_fasta_by_length]
$;INPUT_COMMAND$;=/opt/ergatis/bin/filter_fasta_by_length
$;INPUT_ARGS$;=-i $;REPOSITORY_ROOT$;/output_repository/soapdenovo/$;PIPELINEID$;_default/i1/g1/scaffolds.scafSeq -l ${params.LIMIT} -o $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_filter_fasta_by_length/scaffolds.scafSeq

[extract_assembly_stats default]
$;INPUT_FILE$; =$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_filter_fasta_by_length/scaffolds.scafSeq

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=default
$;INPUT$;=<<_EOT
soapdenovo	$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_filter_fasta_by_length/scaffolds.scafSeq\n
extract_assembly_stats	$;REPOSITORY_ROOT$;/output_repository/extract_assembly_stats/$;PIPELINEID$;_default/i1/g1/scaffolds.extract_assembly_stats.stats\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$;= 1
