[bowtie_build default]
$;INPUT_FILE_LIST$; = ${input.REFERENCE_TAG}
$;BUILD_ARGS$; = ${param.BOWTIE_BUILD_OPTS}

[bowtie default]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/bowtie_build/$;PIPELINEID$;_default/bowtie_build.idx.list
$;READS$; = `/usr/bin/python /opt/vappio-py/igs/misc/convertTagToCommaSep.py ${input.INPUT_READS_TAG}`
$;X$; = ${param.MAX_INSERT_SIZE}
$;V$; = ${param.MAX_MISMATCHES}
$;M$; = ${param.MAX_ALIGNS_PER_READ}
$;OTHER_OPTS$; = ${param.BOWTIE_OPTS}

[tag_data clovr_mapping_bowtie_indices]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
