<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is a test that starts and executes a CloVR Comparative pipeline run with local credentials&#xd;
&#xd;
Used 6 Rhizobium full Genbank (.gbk) files for testing.  The accession IDs are:&#xd;
NC_011369,NC_012850,NC_008380,NC_007761,NC_010994,NC_020059</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>HIDDEN</name>
          <description>Parameter to differentiate between builds</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e
source /opt/vappio-scripts/clovrEnv.sh

wget -O /mnt/user_data/neisseria_comparative.tgz http://cb2.igs.umaryland.edu/neisseria_comparative.tgz
tar xfv /mnt/user_data/neisseria_comparative.tgz -C /mnt/user_data/ 

DATE=`date +&quot;%m-%d-%Y-%T&quot; | sed -e &apos;s/:/_/g&apos;`

vp-add-dataset -o --tag-name=clovr_comparative_genbank_local /mnt/user_data/neisseria_comparative/NC_003112.2.gbk /mnt/user_data/neisseria_comparative/NC_003116.1.gbk /mnt/user_data/neisseria_comparative/NC_008767.1.gbk /mnt/user_data/neisseria_comparative/NC_010120.1.gbk /mnt/user_data/neisseria_comparative/NC_013016.1.gbk

vp-describe-protocols --config-from-protocol=clovr_comparative \
    -c input.GENBANK_TAGS=clovr_comparative_genbank_local \
    -c params.OUTPUT_PREFIX=neisseria \
    -c cluster.CLUSTER_NAME=&apos;local&apos; \
    -c cluster.CLUSTER_CREDENTIAL=&apos;local&apos; \
    -c cluster.TERMINATE_ONFINISH=false \
    -c pipeline.PIPELINE_DESC=&quot;Hudson CloVR Comparative Test local ${DATE}&quot; \
    &gt; /tmp/$$.pipeline.conf.${DATE}

TASK_NAME=`vp-run-pipeline --print-task-name --pipeline-config /tmp/$$.pipeline.conf.${DATE} --overwrite`

if [ &quot;$?&quot; == &quot;1&quot; ]; then
        echo &quot;vp-run-pipeline failed to run&quot;
        exit 1
fi

vp-describe-task --name local --exit-code --block $TASK_NAME

exit $?
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>