[muscle default]
$;INPUT_FILE_LIST$;=${input.INPUT_FSA_LIST}
$;DESCRIPTION$;=Mugsy Clusters

[run_command createdb]
$;INPUT_COMMAND$;= perl /mnt/configure_sybil.pl
$;INPUT_ARGS$;=--server=localhost --username=${params.USERNAME} --password=${params.PASSWORD} --db_name=${params.SITE_NAME} --create_db

[initdb default]
$;DATABASE$; = ${params.SITE_NAME}
$;SERVER$; = localhost
;; database user with DDL privileges, such as create/drop tables
$;ADMIN_USER$; = ${params.USERNAME}
;; password for admin user above.  shouldn't contain single quotes
$;ADMIN_PASS$; = ${params.PASSWORD}

[bsml2chado annotation]
$;USERNAME$; = ${params.USERNAME}
$;PASSWORD$; = ${params.PASSWORD}
$;DATABASE$; = ${params.SITE_NAME}
$;SERVER$; = localhost
;; Relational database management system type e.g. sybase or postgresql
$;RDBMS$; = postgresql
$;INPUT_FILE_LIST$; = ${input.INPUT_BSML_LIST}

[bsml2chado annotation]
$;USERNAME$; = ${params.USERNAME}
$;PASSWORD$; = ${params.PASSWORD}
$;DATABASE$; = ${params.SITE_NAME}
$;SERVER$; = localhost
;; Relational database management system type e.g. sybase or postgresql
$;RDBMS$; = postgresql
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_default/muscle.bsml.list

[run_command configsybil]
$;INPUT_COMMAND$;= perl /mnt/configure_sybil.pl
$;INPUT_ARGS$;=--create_site_config --server=localhost --username=${params.USERNAME} --password=${params.PASSWORD} --db_name=${params.SITE_NAME} --sitename=${params.SITE_NAME} --cache_dir=/mnt/sybiltmp/ --image_dir=/var/www/sybil/current/htdocs/tmp/ --image_url=/sybil/current/htdocs/tmp/ --clustalw_path=/opt/phylomark/bin/muscle --schema=ChadoMongo 

[run_command archivesybil]
$;INPUT_COMMAND$;= perl /mnt/configure_sybil.pl
$;INPUT_ARGS$;=--create_archive --output_dir=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_archivesybil/ --server=localhost --username=${params.USERNAME} --password=${params.PASSWORD} --db_name=${params.SITE_NAME} --sitename=${params.SITE_NAME}

[tag_data clovr_sybil]
$;OUTPUT_TOKEN$;=clovr_sybil
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
sybil_archive   $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_archivesybil/${params.SITE_NAME}_sybil.tgz	format_type=sybil_archive,description="Use this file to deploy the sybil site ${params.SITE_NAME}."\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag        $;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

