[lgt_bwa default]
$;REF_FILE1$;=${input.REF_FILE1}
$;REF_FILE2$;=${input.REF_FILE2}
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;STAGEDATA$;=/mnt/staging

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
sam_files	$;REPOSITORY_ROOT$;/output_repository/lgt_bwa/$;PIPELINEID$;_default/lgt_bwa.sam.list\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$;= 150
$;NODISTRIB$;= 1
