## Configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
## The input sff file tag name. Should already be tagged
## This can be multiple sff files that will be assembled
## together.
## tagData.py --help for more details
INPUT_SFF_TAG=

## pipeline name
## if pipeline is already present, will simply monitor it
## otherwise will create the pipeline with current settings
PIPELINE_NAME=assembly_454_pipeline

## organism info
OUTPUT_PREFIX=asmbl

## sff_to_CA options
##
## trim can be one of the following values:
## none, soft, hard, chop
TRIM=chop
##
## clear can be one of the following values:
## all, 454, none, n, pair-of-n, discard-n
CLEAR=454
LINKER=titanium
INSERT_SIZE=8000 1000

## celera assembler options
SPEC_FILE=/dev/null
SKIP_BANK=0

## The number of groups to use
GROUP_COUNT=10

## Output: tags to download after run finishes
## Comma separated list of tags
## Possible options: assembly_scf, assembly_qc
TAGS_TO_DOWNLOAD=assembly_scf,assembly_qc

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME=local
EXEC_NODES=10
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/prok_run.conf.log
## the higher, the more output (3 = most verbose)
debug_level=3


[pipeline]
PIPELINE_TEMPLATE=clovr_assembly_celera
PIPELINE_ARGS=--INPUT_FILE_LIST=${input.INPUT_SFF_TAG} --OUTPUT_PREFIX=${input.OUTPUT_PREFIX} --conf=${cluster.CLOVR_CONF} --TRIM=${input.TRIM} --LINKER=${input.LINKER} --CLEAR=${input.CLEAR} --SPEC_FILE=${input.SPEC_FILE} --SKIP_BANK=${input.SKIP_BANK} --INSERT_SIZE="${input.INSERT_SIZE}" --GROUP_COUNT=${input.GROUP_COUNT}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/ergatis/docs/noop.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_assembly_celera/clovr_assembly_celera.prerun.xml
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_assembly_celera/clovr_assembly_celera.prerun.xml



