[global]
$;PREFIX$; = ${params.OUTPUT_PREFIX}

[sff_to_CA default]
$;LIBRARY$; = ${params.OUTPUT_PREFIX}
$;TRIM$; = ${params.TRIM}
$;CLEAR$; = ${params.CLEAR}
$;LINKER$; = ${params.LINKER}
$;INSERT_SIZE$; = ${params.INSERT_SIZE}
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}

[celera_assembler_cloud default]
$;SPEC_FILE$; = ${params.SPEC_FILE}
$;GROUP_COUNT$; = ${pipeline.GROUP_COUNT}

[celera2hawkeye default]
$;OUTPUT_PREFIX$; = $;PREFIX$;
$;INPUT_FILES$; = -a $;REPOSITORY_ROOT$;/output_repository/celera_assembler_cloud/$;PIPELINEID$;_default/$;PREFIX$;/9-terminator/$;PREFIX$;.asm -f $;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default/$;PREFIX$;.frg
$;SKIP_WF_COMMAND$;=${params.SKIP_BANK}

[tag_data clovr_assembly_celera]
$;PIPELINE_NAME$; = ${params.PIPELINE_NAME}
