[sff_to_CA default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;LINKER$;=${params.LINKER}
$;TRIM$;=${params.TRIM}
$;INSERT_SIZE$;=${params.INSERT_SIZE}
$;CLEAR$;=${params.CLEAR}
$;LIBRARY$;=${params.OUTPUT_PREFIX}
$;PROJECT_CONFIG$;=/mnt/projects/clovr/workflow/project.config
$;GROUP_COUNT$;=3
$;NODISTRIB$;=0

[celera-assembler default]
$;SPEC_FILE$;=${params.SPEC_FILE}
$;OUTPUT_PREFIX$;=${params.OUTPUT_PREFIX}
$;PROJECT_CONFIG$;=/mnt/projects/clovr/workflow/project.config
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default/sff_to_CA.frg.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default

[celera2hawkeye default]
$;INPUT_FILES$;=-a $;REPOSITORY_ROOT$;/output_repository/celera_assembler_cloud/$;PIPELINEID$;_default/$;PREFIX$;/9-terminator/$;PREFIX$;.asm -f $;REPOSITORY_ROOT$;/output_repository/sff_to_CA/$;PIPELINEID$;_default/$;PREFIX$;.frg
$;SKIP_WF_COMMAND$;=${params.SKIP_BANK}
$;OUTPUT_PREFIX$;=$;PREFIX$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[tag_data clovr_assembly_celera]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_assembly_velvet
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download_map.txt
$;INPUT$;=<<_EOT
assembly_scf	$;REPOSITORY_ROOT$;/output_repository/celera-assembler/$;PIPELINEID$;_default/celera-assembler.scf.fasta.list
assembly_qc	$;REPOSITORY_ROOT$;/output_repository/celera-assembler/$;PIPELINEID$;_default/celera-assembler.qc.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

