[run_command calculate_cpu_hours]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "translate-keys input.REF_DB_TAG=misc.REP_DB | filter-keys input.INPUT_TAG cluster.CLUSTER_NAME params.PROGRAM params.REP_DB | tag-is-fasta | sequence-stats | cunningham_calc_cpu_hours"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[run_command set_ergatis_values]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta default | devnull"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[run_command resize_cluster]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out
$;INPUT_ARGS$;=--show-all --block --exit-code `vp-run-metrics -t --pipeline-name=${pipeline.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "calculate-instances | resize-cluster"`
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;OUTPUT_TOKEN$;=runpipeline

[split_multifasta default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;REVISION$;=$Revision: 5801 $

[ncbi-blastall default]
$;EXPECT$;=${params.EXPECT}
$;OTHER_OPTS$;=-p ${params.PROGRAM} ${params.OTHER_OPTS} ${params.MAX_TARGET_SEQ} ${params.WORD_SIZE} ${params.LOW_COMPLEXITY}
$;DATABASE_PATH$;=${input.REF_DB_PATH}
$;GROUP_COUNT$;=3000
$;SKIP_WF_COMMAND$;=convert raw to btab,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;FILTER_HSPS_FOR_STATS$;=1

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
blastall_raw	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastall/$;PIPELINEID$;_default/ncbi-blastall.raw.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

