[run_command calculate_cpu_hours]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "filter-keys input.INPUT_TAG cluster.CLUSTER_NAME misc.PROGRAM | tag-is-fasta | sequence-stats | blast-calculate-cpu-hours"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/calculate_cpu_hours.out

[run_command set_ergatis_values]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "blast-cpu-hours-to-total-files | filter-keys pipeline.PIPELINE_ID parameters.TOTAL_FILES parameters.SEQS_PER_FILE | set-ergatis-component-values split_multifasta default | devnull"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/set_ergatis_values.out

[run_command resize_cluster]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} -c cluster.CLUSTER_NAME=local "calculate-instances | resize-cluster"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/resize_cluster.out

[split_multifasta default]
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}
$;SEQS_PER_FILE$; = ${misc.SEQS_PER_FILE}

[ncbi-blastall default]
$;DATABASE_PATH$;=${input.REF_DB_PATH}
$;OTHER_OPTS$;=-p ${misc.PROGRAM} ${misc.OTHER_OPTS}
$;EXPECT$;=${misc.EXPECT}

[tag_data default]
$;PIPELINE_NAME$;=${input.PIPELINE_NAME}
