[split_multifasta default]
$;INPUT_FILE_LIST$; = ${INPUT_FILE_LIST}
$;SEQS_PER_FILE$; = ${SEQS_PER_FILE}
$;TOTAL_FILES$;= ${GROUP_COUNT}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[metagene default]
$;NUM_SEQS$; = ${NUM_SEQS}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[split_multifasta polypeptide]
$;TOTAL_FILES$;= ${GROUP_COUNT}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[hmmpfam default]
$;DATABASE_PATH$;=${DB_PATH}/coding_hmm/coding_hmm.lib.bin
$;HMM_INFO_FILE$;=${DB_PATH}/coding_hmm/coding_hmm.lib.db
$;GROUP_COUNT$; = ${GROUP_COUNT}

[ncbi-blastp default]
$;DATABASE_PATH$;=${DB_PATH}/nr/nr
$;GROUP_COUNT$; = ${GROUP_COUNT}
