[crossbow default]
$;INPUT_FILE$;=`cat ${input.INPUT_MANIFEST_TAG}`
$;OUTPUT_PREFIX$;=${params.OUTPUT_PREFIX}
$;REFERENCE_JAR$;=`cat ${input.REFERENCE_JAR_TAG}`
$;CROSSBOW_MANIFEST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.manifest
$;CROSSBOW_OPTS$;=--preprocess --soapsnp=/opt/crossbow/bin/linux64/soapsnp

[tag_data clovr_mapping_crossbow]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
crossbow_snps	$;REPOSITORY_ROOT$;/output_repository/crossbow/$;PIPELINEID$;_default/crossbow.snps.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

