[run_command Normalize_by_median_00]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/normalize-by-median.py
$;INPUT_ARGS$;=-k 20 -C 20 -x 4e9 -s $;OUTPUT_DIRECTORY$;/yy00_pass1.kh -N 4 -R $;OUTPUT_DIRECTORY$;/yy01_pass1.report -o $;OUTPUT_DIRECTORY$; `head -n 1 ${input.INPUT_READS_1}` `head -n 1 ${input.INPUT_READS_2}`

[run_command Filter_abundance_01]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/filter-abund.py
$;INPUT_ARGS$;=-o  $;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_00/yy00_pass1.kh $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_00/`basename $(head -n 1 ${input.INPUT_READS_1})`.keep $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_00/`basename $(head -n 1 ${input.INPUT_READS_2})`.keep

[run_command Filter_below_abundance_02]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/filter-below-abund.py
$;INPUT_ARGS$;=$;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_00/yy00_pass1.kh $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Filter_abundance_01/`basename $(head -n 1 ${input.INPUT_READS_1})`.keep.abundfilt $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Filter_abundance_01/`basename $(head -n 1 ${input.INPUT_READS_2})`.keep.abundfilt

[run_command Normalize_by_median_03]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/normalize-by-median.py
$;INPUT_ARGS$;=-k 20 -C 5 -x 4e9 -R $;OUTPUT_DIRECTORY$;/yy01_pass2.report -o  $;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Filter_below_abundance_02/`basename $(head -n 1 ${input.INPUT_READS_1})`.keep.abundfilt.below $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Filter_below_abundance_02/`basename $(head -n 1 ${input.INPUT_READS_2})`.keep.abundfilt.below

[run_command Load_graph_04]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/load-graph.py
$;INPUT_ARGS$;=-k 32 -N 4 -x 8e9 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/yy03_part1 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/`basename $(head -n 1 ${input.INPUT_READS_1})`.keep.abundfilt.below.keep $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/`basename $(head -n 1 ${input.INPUT_READS_2})`.keep.abundfilt.below.keep

[run_command Partition_graph_05]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/partition-graph.py
$;INPUT_ARGS$;=--threads 4 -s 1e5 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/yy03_part1

[run_command Merge_partitions_06]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/merge-partitions.py
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/yy03_part1

[run_command Annotate_partitions_07]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/annotate-partitions.py
$;INPUT_ARGS$;=-o $;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/yy03_part1 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Normalize_by_median_03/*.keep.abundfilt.below.keep

[run_command Extract_partitions_08]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/extract-partitions.py
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/yy04_partition_1_groups $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Annotate_partitions_07/*.fastq.keep.abundfilt.below.keep.part

[run_command Rename_final_group_09]
$;INPUT_COMMAND$;=/opt/ergatis/bin/rename-final-group.pl
$;INPUT_ARGS$;=-i $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04

[run_command Load_graph_10]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/load-graph.py
$;INPUT_ARGS$;=-k 32 -N 4 -x 8e9 $;OUTPUT_DIRECTORY$;/yy06_part2 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/yy05_partition_1_groups.finalGroup.fa

[run_command Partition_graph_11]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/partition-graph.py
$;INPUT_ARGS$;=--threads 4  $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_10/yy06_part2

[run_command Find_knots_12]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/find-knots.py
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_10/yy06_part2

[run_command Filter_stoptags_13]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/filter-stoptags.py
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_10/yy06_part2.stoptags $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/yy05_partition_1_groups.finalGroup.fa

[run_command Load_graph_14]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/load-graph.py
$;INPUT_ARGS$;=-k 32 -N 4 -x 8e9 $;OUTPUT_DIRECTORY$;/yy07_part2_filtered $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/yy05_partition_1_groups.finalGroup.fa.stopfilt

[run_command Partition_graph_15]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/partition-graph.py
$;INPUT_ARGS$;=--threads 4 $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_14/yy07_part2_filtered

[run_command Merge_partitions_16]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/merge-partitions.py
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_14/yy07_part2_filtered

[run_command Annotate_partitions_17]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/annotate-partitions.py
$;INPUT_ARGS$;=-o $;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_14/yy07_part2_filtered $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/yy05_partition_1_groups.finalGroup.fa.stopfilt

[run_command Extract_partitions_18]
$;INPUT_COMMAND$;=PYTHONPATH=/opt/khmer/python /opt/Python-2.7/bin/python2.7 /opt/ergatis/bin/extract-partitions.py
$;INPUT_ARGS$;=$;OUTPUT_DIRECTORY$;/yy07_part2_filtered $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Annotate_partitions_17/yy05_partition_1_groups.finalGroup.fa.stopfilt.part

[run_command Clean_up_files_19]
$;INPUT_COMMAND$;=touch $;ITER_FILE_PATH$;
$;INPUT_ARGS$;=

[run_command Input_Linker_20]
$;INPUT_COMMAND$;=/opt/ergatis/bin/input_linker.pl
$;INPUT_ARGS$;=-f $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Load_graph_04/ -s $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_Extract_partitions_18 -o $;OUTPUT_DIRECTORY$;

[run_command Strip_partition_files_21]
$;INPUT_COMMAND$;=/opt/ergatis/bin/strip_partition_files.pl
$;INPUT_ARGS$;=-i $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Input_Linker_20 -o $;OUTPUT_DIRECTORY$; -e /opt/ergatis/bin -p /opt

[run_command Get_read_ids_22]
$;INPUT_COMMAND$;=/opt/ergatis/bin/get_read_IDs.pl
$;INPUT_ARGS$;=-i $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Strip_partition_files_21 -o $;OUTPUT_DIRECTORY$;

[run_command Retrieve_pair_23a]
$;INPUT_COMMAND$;=/opt/ergatis/bin/preserveGivenReadsInFastq.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Get_read_ids_22/targetIDs_000.txt `head -n 1 ${input.INPUT_READS_1}` $;OUTPUT_DIRECTORY$;/reads_1.final.fastq 

[run_command Retrieve_pair_23b]
$;INPUT_COMMAND$;=/opt/ergatis/bin/preserveGivenReadsInFastq.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Get_read_ids_22/targetIDs_000.txt `head -n 1 ${input.INPUT_READS_2}` $;OUTPUT_DIRECTORY$;/reads_2.final.fastq

[run_command Split_fastq_24a]
$;INPUT_COMMAND$;=/opt/ergatis/bin/splitFastq.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Retrieve_pair_23a/reads_1.final.fastq phred33

[run_command Split_fastq_24b]
$;INPUT_COMMAND$;=/opt/ergatis/bin/splitFastq.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_Retrieve_pair_23b/reads_2.final.fastq phred33

[run_command Process_pair_headers_25a]
$;INPUT_COMMAND$;=/opt/ergatis/bin/processFastaForNewbler.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_Retrieve_pair_23a/reads_1.final $;OUTPUT_DIRECTORY$;

[run_command Process_pair_headers_25b]
$;INPUT_COMMAND$;=/opt/ergatis/bin/processFastaForNewbler.pl
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_Retrieve_pair_23b/reads_2.final $;OUTPUT_DIRECTORY$;

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=default
$;INPUT$;=<<_EOT
normalized_reads_1	$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_Retrieve_pair_23a/reads_1.final.newbler-ready.fna\n
normalized_reads_2	$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_Retrieve_pair_23b/reads_2.final.newbler-ready.fna\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

