[bwa_mem default]
$;OTHER_OPTS$;=-R "@RG\tID:clovr-$;PIPELINEID$;\tSM:$;SAMPLE_NAME$;\tPL:illumina\tPU:clovr-$;PIPELINEID$;"
$;REFERENCE_DB_LIST$;=/mnt/staging/tags/${input.REFERENCE_DB_TAG}
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}

[tag_data clovr_assembly_bwa_illumina]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_assembly_bwa_illumina
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download_map.txt
$;INPUT$;=<<_EOT
assembly_sam	$;REPOSITORY_ROOT$;/output_repository/bwa_mem/$;PIPELINEID$;_default/bwa_mem.sam.list	format_type=sam
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
