CLUSTER_NAME={"display": "Cluster Name", "default": "local", "visibility": "default_hidden", "desc": "Cluster name to run this on, shouldn't need to specify manually", "type": "string"}
EXEC_NODES={"default": 0, "visibility": "default_hidden", "desc": "Number of exec nodes, should not need to specify manually", "type": "integer"}
# This needs to go away soon
CLOVR_CONF={"default": "clovr.conf", "visibility": "always_hidden", "desc": "Config file, should not need to specify manually", "type": "string"}
CLUSTER_CREDENTIAL={"display": "Credential", "visibilty": "default_hidden", "default": "local", "desc": "Credential to use to make the cluster", "type": "credential"}
