CLUSTER_NAME={"display": "Cluster Name", "default": "local", "visibility": "default_hidden", "desc": "Cluster name to run this on, shouldn't need to specify manually"}
EXEC_NODES={"default": 0, "visibility": "default_hidden", "desc": "Number of exec nodes, should not need to specify manually"}
CLOVR_CONF={"default": "clovr.conf", "visibility": "always_hidden", "desc": "Config file, should not need to specify manually"}
CLUSTER_CREDENTIAL={"display": "Credential", "visibilty": "default_hidden", "default": "local", "desc": "Credential to use to make the cluster"}
