## Configuration file for Illumina Microbe
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[shortPaired]
;;Should be a list file, which contains the path to 2 files. Each file
;;should contain one of the pairs, ordered the same in each file.
INPUT_FILES=

[short]
INPUT_FILES=

[long]
INPUT_FILES=

[longPaired]
;;See shortPaired
INPUT_FILES=

## pipeline name
## if pipeline is already present, will simply monitor it
## otherwise will create the pipeline with current settings
PIPELINE_NAME=illumina_assembly_annotation

## organism info
OUTPUT_PREFIX=test
ORGANISM=Genus species

## The hash length to start velvet optimiser with
## Must be an odd number, less than end hash length and
## 19 < x < 31
START_HASH_LENGTH=19

## The hash length of the last iteration of optimiser
## Must be odd, greater than start hash length and 
## 19 < x < 31
END_HASH_LENGTH=31

## Other options sent to velvetg
## If using paired end reads, use AT LEAST -ins_length and -ins_length_sd.
## -min_contig_lgth is already set.
VELVETG_OPTS=-ins_length 300 -ins_length_sd 50

REFERENCE_DB_TAG=clovr-prok-db

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=ec2

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/prok_run.conf.log
## the higher, the more output (3 = most verbose)
debug_level=3


[pipeline]
PIPELINE_TEMPLATE=clovr_microbe_illumina
PIPELINE_ARGS=--INPUT_FILE_LIST=${input.INPUT_TAG} --OUTPUT_PREFIX=${input.OUTPUT_PREFIX} --ORGANISM="${input.ORGANISM}" --DATABASE_PATH=${input.REFERENCE_DB_TAG} --conf=${cluster.CLOVR_CONF} --GROUP_COUNT=${cluster.EXEC_NODES} --FILE_FORMAT=${input.FILE_FORMAT} --READ_TYPE=${input.READ_TYPE} --START_HASH_LENGTH=${input.START_HASH_LENGTH} --END_HASH_LENGTH=${input.END_HASH_LENGTH} --VELVETG_OPTS="${input.VELVETG_OPTS}"

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe_illumina/clovr_microbe_illumina.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_microbe_illumina/clovr_microbe_illumina.prerun.xml
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/ergatis/docs/noop.xml


