[global]
$;PREFIX$; = ${input.OUTPUT_PREFIX}

[prepare_paired_ends_for_velvet default]
$;SHORT_INPUT_LIST$; = ${input.SHORT_PAIRED_LIST}
$;LONG_INPUT_LIST$; = ${input.LONG_PAIRED_LIST}

[velvet_optimiser assembly]
$;SHORT$; = ${input.SHORT_INPUT_LIST}
$;LONG$; = ${input.LONG_INPUT_LIST}
$;START_HASH_LENGTH$; = ${input.START_HASH_LENGTH}
$;END_HASH_LENGTH$; = ${input.END_HASH_LENGTH}
$;OTHER_OPTIMISER_OPTS$; = -a yes -o "${input.VELVETG_OPTS} -min_contig_lgth 500"

[split_multifasta default]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/velvet_optimiser/$;PIPELINEID$;_assembly/velvet_optimiser.fa.list

[RNAmmer default]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tRNAscan-SE find_tRNA]
$;ID_ROOT$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter1]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[glimmer3 iter2]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate_prediction]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[promote_gene_prediction promote_prediction]
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence translate]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[hmmpfam pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.bin
$;HMM_INFO_FILE$; = ${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db

[ncbi-blastp pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/panda/AllGroup/AllGroup.niaa

[ber pre_overlap_analysis]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;PROJECT_ABBREVIATION$; = ${input.OUTPUT_PREFIX}
$;PROTEIN_DB$; = ${input.DATABASE_PATH}/db/panda/AllGroup/AllGroup.niaa

[overlap_analysis default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[translate_sequence final_polypeptides]
$;PROJECT_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[ncbi-blastp COGS]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}/db/ncbi/COG/myva

[parse_evidence hmmpfam_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = hmm_info=${input.DATABASE_PATH}/db/coding_hmm/coding_hmm.lib.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles tigrfams_dir=${input.DATABASE_PATH}/db/TIGRFAMs

[parse_evidence ber_pre]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;OTHER_PARSER_OPTIONS$; = ber_info=${input.DATABASE_PATH}/db/tchar/tchar.db tigr_roles_db_dir=${input.DATABASE_PATH}/db/tigr_roles

[parse_evidence hypothetical]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[p_func default]
$;OUTPUT_FILE_BASE_NAME$; = ${input.OUTPUT_PREFIX}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;ROLES_DB_DIR$; = ${input.DATABASE_PATH}/db/tigr_roles

[pipeline_summary default]
$;LOCUS_PREFIX$; = ${input.OUTPUT_PREFIX}
$;ORGANISM$; = ${input.ORGANISM}
$;GROUP_COUNT$; = ${input.GROUP_COUNT}
$;COG_LOOKUP$; = ${input.DATABASE_PATH}/db/ncbi/COG/whog

[bsml2tbl default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tbl2asn default]
$;GROUP_COUNT$; = ${input.GROUP_COUNT}

[tag_data clovr_assembly_velvet]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}

[tag_data clovr_microbe_annotation]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
