[qiime_mothur_cnvr default]
$;INPUT_FILE_LIST$;=${input.FASTA_FILE_LIST}
$;QUAL_FILE_LIST$;=${input.QUAL_FILE_LIST}
$;MAPPING_FILE$;=${input.MAPPING_FILE_LIST}
$;BARCODES$;=variable_length
$;MAXIMUM_HOMOPOLYMER_LENGTH$;=8
$;MIN_LENGTH$;=100
$;MAX_LENGTH$;=2000
$;MAXAMBIGUOUS$;=0
$;OTHEROPTS$;=

[core_qiime default]
$;CUSTOM_PARAMETERS_FILE$;=/opt/bioinf/qiime/db/custom_params.txt
$;MAPPING_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/Data.processed.map
$;META_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.meta
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/splitlibs/seqs.fna
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/Data.processed.map $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/mothur.meta

[metastats qiime]
$;GROUP_COUNT$;=5
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.pairedtables.list

[skiff qiime]
$;GROUP_COUNT$;=2
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list

[histogram_stacked qiime]
$;GROUP_COUNT$;=1
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/$;COMPONENT_NAME$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=qiime
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list

[run_command qiime_to_otulist]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/qiime_to_otulist.stdout
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/uclust_picked_otus/seqs_otus.txt $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/mothur.groups
$;INPUT_ARGS$;= $;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/uclust_picked_otus/seqs_otus.txt   0.03   $;OUTPUT_DIRECTORY$;/qiime_to_otulist.txt   $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/mothur.groups   $;OUTPUT_DIRECTORY$;/qiime_to_otulist.groups
$;INPUT_COMMAND$;=/opt/ergatis/bin/qiime_to_otulist.pl
$;OUTPUT_TOKEN$;=qiime_to_otulist

[mothur_read_otu default]
$;NODISTRIB$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_qiime_to_otulist/qiime_to_otulist.txt.list
$;GROUPS_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_qiime_to_otulist/qiime_to_otulist.groups.list
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_qiime_to_otulist/qiime_to_otulist.groups.list
$;LABEL$;=0.03
$;OTU_FORMAT$;=list

[mothur_rarefaction_single default]
$;GROUP_COUNT$;=5
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.rabund.list
$;CONFIG_OPTIONS$;=freq=0.05
$;OTU_FORMAT$;=rabund

[mothur_summary single]
$;GROUP_COUNT$;=5
$;OUTPUT_TOKEN$;=single
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.rabund.list
$;OTU_FORMAT$;=rabund
$;SUMMARY_TYPE$;=single

[run_command merge_rarefaction_data]
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/merge_rarefaction_data.stdout
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mothur_rarefaction_single/$;PIPELINEID$;_default/mothur_rarefaction_single.rarefaction.list  $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/Data.processed.map
$;INPUT_ARGS$;= -f $;REPOSITORY_ROOT$;/output_repository/mothur_rarefaction_single/$;PIPELINEID$;_default/mothur_rarefaction_single.rarefaction.list -m $;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/Data.processed.map -p $;OUTPUT_DIRECTORY$;/rarefaction 
$;INPUT_COMMAND$;=/opt/ergatis/bin/merge_rarefaction_data.pl
$;OUTPUT_TOKEN$;=merge_rarefaction_data

[leech default]
$;XAXIS_NAME$;=Sequences_sampled
$;YAXIS_NAME$;=NumberofOTUs
$;TYPE$;=l
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_merge_rarefaction_data/rarefaction.csv.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
filtered_reads	$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/splitlibs
uclust_otus	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/uclust_picked_otus
summary_tables	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/Taxa.tables.list
histograms	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/histogram_stacked_qiime/histogram_stacked.results.list
skiff	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/skiff_qiime/skiff.results.list
metastats	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/metastats_qiime/metastats.results.list
pcoa_plots	$;REPOSITORY_ROOT$;/output_repository/core_qiime/$;PIPELINEID$;_default/results/beta_diversity
rarefactions	$;REPOSITORY_ROOT$;/output_repository/mothur_rarefaction_single/$;PIPELINEID$;_default/mothur_rarefaction_single.rarefaction.list
mothur_summary	$;REPOSITORY_ROOT$;/output_repository/mothur_summary/$;PIPELINEID$;_single/mothur_summary.summary.list
rarefaction_plots	$;REPOSITORY_ROOT$;/output_repository/leech/$;PIPELINEID$;_default/leech.results.list

#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

