## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
GROUP_COUNT=1
FASTA_FILES=/mnt/upload/Gut/gut_total.qiime.fna
META_FILE=/mnt/upload/Gut/Gut_mapping.txt

PIPELINE_NAME=16S_qiime_pipeline 
FASTA_TAG=16S_FASTA
META_TAG=META

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_TAG=local
EXEC_NODES=1
CLOVR_CONF=clovr.conf
CLUSTER_TYPE=local

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/16S_qiime_run.log
## the higher, the more output (3 = most verbose)
debug_level=3

[pipeline]
PIPELINE_TEMPLATE=16S_qiime
PIPELINE_ARGS=--FASTA_FILES=${input.FASTA_TAG} --META_FILE=${input.META_TAG} --GROUP_COUNT=${input.GROUP_COUNT}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/16S_qiime/16S_qiime.prestart.xml
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/16S_qiime/16S_qiime.prerun.xml
#Postrun is run after pipeline completion and after download data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/16S_qiime/16S_qiime.postrun.xml
