[input]
#INPUT_DIR=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/genbank_input_files/

#ORGANISM_TO_DB_MAPPING=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/bifidobacter/organism_to_prefix.txt

PIPELINE_NAME=clovr_pangenome

ORGANISM=some_organism

GENBANK_TAG=bifidobacter_genbank_tag

MAP_TAG=bifidobacter_map_tag

REFERENCE_DB_TAG=clovr-prok-db

TAGS_TO_DOWNLOAD=pangenome_ncbi_blastp_btab,pangenome_ncbi_blastp_raw,pangenome_ncbi_tblastn_btab,pangenome_ncbi_tblastn_raw,pangenome_blast_parse_stored,pangenome_new_core_genes,pangenome_profile,pangenome_output,pangenome_new_ps_output,pangenome_new_eps_output,pangenome_core_ps_output,pangenome_core_eps_output,pangenome_pan_ps_output,pangenome_pan_eps_output


[cluster]

CLUSTER_NAME=local
EXEC_NODES=10
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=local


[output]

OUTPUT_DIRECTORY=/mnt/output
OUTPUT_PREFIX=somefile_mini
log_file=/mnt/prok_run.conf.log
debug_level=3


[pipeline]

PIPELINE_TEMPLATE=clovr_pangenome

#PIPELINE_ARGS=--INPUT_FILE_LIST=${input.INPUT_TAG} --ORGANISM_TO_DB_MAPPING=${input.MAP_TAG}

PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/clovr_pangenome.prestart.xml

PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/clovr_pangenome.prerun.xml

#POSTRUN_TEMPLATE_XML=/opt/ergatis/docs/noop.xml

POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/clovr_pangenome.postrun.xml

DOWNLOAD_TAG_ITERATOR_XML=/opt/ergatis/docs/clovrdownload_tag.iterator.xml
