[create_map_file default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[genbank2bsml default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default $;OUTPUT_DIRECTORY$;
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[bsml2fasta default]
$;OUTPUT_FILE$;=db.fsa
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;USE_FEATURE_IDS_IN_FASTA$;=1
$;FORMAT$;=multi
$;CLASS_FILTER$;=polypeptide

[bsml2fasta genomic]
$;OUTPUT_FILE$;=db.fsa
$;OUTPUT_TOKEN$;=genomic
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;FORMAT$;=multi
$;CLASS_FILTER$;=assembly

[formatdb polyp]
$;OUTPUT_TOKEN$;=polyp
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_default/db.fsa

[formatdb genomic]
$;OUTPUT_TOKEN$;=genomic
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/db.fsa
$;PROTEIN$;=F

[split_multifasta polyp]
$;OUTPUT_TOKEN$;=polyp
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_default/bsml2fasta.fsa.list
$;SEQS_PER_FILE$;=10
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[ncbi-blastp default]
$;REVISION$;=$Revision: 6318 $
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_polyp
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_polyp/split_multifasta.fsa.list
$;DATABASE_PATH$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_polyp/db
$;COMPRESS_RAW_OUTPUT$;=1
$;COMPRESS_BSML_OUTPUT$;=0
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[ncbi-tblastn default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_genomic
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_polyp/split_multifasta.fsa.list
$;DATABASE_PATH$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_genomic/db
$;COMPRESS_RAW_OUTPUT$;=1
$;DATABASE_MATCHES$;=10000
$;SPLIT_BSML$;=0
$;DESCRIPTIONS$;=10000
$;SPLIT_BTAB$;=0
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[pangenome_blast_parse default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default $;OUTPUT_DIRECTORY$;
$;ORGANISM_TO_DB_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt 
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-tblastn/$;PIPELINEID$;_default/ncbi-tblastn.bsml.list,$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.bsml.list
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[pangenome_do_analysis default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_blast_parse/$;PIPELINEID$;_default $;OUTPUT_DIRECTORY$;
$;BLAST_STORED_FILE$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_blast_parse/$;PIPELINEID$;_default/pangenome.blast.stored
$;MULTIPLICITY$;=20
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[pangenome_make_graphs new]
$;OUTPUT_TOKEN$;=new
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default
$;INPUT_DIRECTORY$;=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/new_genes/
$;PANGENOME_INPUT_TABLE$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.table.txt
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[pangenome_make_graphs core]
$;OUTPUT_TOKEN$;=core
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default
$;INPUT_DIRECTORY$;=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/core_genes/
$;PANGENOME_INPUT_TABLE$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.table.txt
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[pangenome_make_graphs pan]
$;OUTPUT_TOKEN$;=pan
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default
$;INPUT_DIRECTORY$;=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_pangenome/pangenome/
$;PANGENOME_INPUT_TABLE$;=$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.output
$;TITLE$;=somename
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
pangenome_ncbi_blastp_raw	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.raw.list
pangenome_ncbi_tblastn_raw	$;REPOSITORY_ROOT$;/output_repository/ncbi-tblastn/$;PIPELINEID$;_default/ncbi-tblastn.raw.list
pangenome_blast_parse_stored	$;REPOSITORY_ROOT$;/output_repository/pangenome_blast_parse/$;PIPELINEID$;_default/pangenome.blast.stored
pangenome_new_core_genes	$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.table.txt
pangenome_profile	$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.profile.txt
pangenome_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_do_analysis/$;PIPELINEID$;_default/pangenome.output
pangenome_new_ps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_new/ps.output.list
pangenome_new_eps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_new/eps.output.list
pangenome_core_ps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_core/ps.output.list
pangenome_core_eps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_core/eps.output.list
pangenome_pan_ps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_pan/ps.output.list
pangenome_pan_eps_output	$;REPOSITORY_ROOT$;/output_repository/pangenome_make_graphs/$;PIPELINEID$;_pan/eps.output.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
