## Configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
INPUT_SAM_TAG={"display": "Input Fasta Tag", "desc": "Tag for input", "type": "dataset", "type_params": { "format_type": ["sam"], "transform_name": "input.INPUT_FILE_LIST" }, "require_value": true }

## For the annotation portion of the pipeline.
REFERENCE_DB_TAG={"display": "Reference database", "default": "clovr-dx-db", "desc": "Reference database to use", "type": "dataset", "type_params": { "transform_name": "input.DATABASE_PATH", "transform_type": "tag_base_dir" }, "visibility": "always_hidden", "require_value": true }

[params]
## organism info
OUTPUT_PREFIX={"display": "Output prefix for the organism", "default": "clovr-dx", "desc": "Organisms have a prefix on them", "type": "string", "require_value": true }

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
-include_in_section /opt/clovr_pipelines/common_config/output.config

## These are the output tags which will be downloaded
## at the end of the pipeline to the local VM.
## Possible options:
TAGS_TO_DOWNLOAD={"display": "Tags to download", "default": "average_coverage,breadth", "desc": "The pipeline generates a number of output files, you can choose which of these outputs to download", "type":"restricted_string list", "type_params": { "choices": ["average_coverage","breadth"] }, "visibility": "default_hidden" }


[pipeline]
-include_in_section /opt/clovr_pipelines/common_config/pipeline.config

SOP_VERSION={"default": "clovr_dx_coverage_version_1.0", "type": "string", "visibility": "always_hidden"}
PIPELINE_TEMPLATE={"default": "clovr_dx_coverage", "visibility": "hidden", "type": "string"}
#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "visibility": "always_hidden", "type": "string"}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_dx_coverage/clovr_dx_coverage.prerun.xml", "visibility": "always_hidden", "type": "string"}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_dx_coverage/clovr_dx_coverage.postrun.xml", "visibility": "always_hidden", "type": "string" }
DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "type": "string"}

