[samtools_file_convert sam_to_bam]
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}
$;OPTIONS$; = 4
$;INPUT_FILE_FORMAT$; = sam

[samtools_file_convert bam_sort]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/samtools_file_convert/$;PIPELINEID$;_sam_to_bam/samtools_file_convert.bam.list
$;OPTIONS$; = 1
$;INPUT_FILE_FORMAT$; = bam

[get_bam_coverage_dx default]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/samtools_file_convert/$;PIPELINEID$;_bam_sort/samtools_file_convert.sorted_by_position_bam.list
$;OUTPUT_PREFIX$; = ${params.OUTPUT_PREFIX}
$;DATABASE_PATH$; = ${input.DATABASE_PATH}

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
average_coverage	$;REPOSITORY_ROOT$;/output_repository/get_bam_coverage_dx/$;PIPELINEID$;_default/average_coverage.list\n
breadth	$;REPOSITORY_ROOT$;/output_repository/get_bam_coverage_dx/$;PIPELINEID$;_default/breadth.list\n
\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

