[create_map_file default]
$;INPUT_FILE_LIST$;=${input.INPUT_GB_LIST}
$;MAP_FILE$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_default/$;COMPONENT_NAME$;.map.txt
$;GENBANK_LIST$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_default/genbank.list

[genbank2bsml default]
$;GENERATE_NEW_SEQ_IDS$;=0
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/genbank.list
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt
$;STAGEDATA$; = $;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt

[bsml2fasta default]
$;USE_SEQUENCE_IDS_IN_FASTA$;=1
$;FORMAT$;=multi
$;OUTPUT_FILE$;=${params.OUTPUT_PREFIX}.fsa
$;OUTPUT_TOKEN$;=default
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list,${input.INPUT_BSML_LIST}
$;CLASS_FILTER$;=assembly
