[fetch_genbank default]
$;DATABASE$;=nucleotide
$;QUERY$;=${param.GENBANK_IDS}
$;FORMAT$;=gbwithparts

[run_command make_gb_list]
$;OUTPUT_TOKEN$;=make_gb_list
$;INPUT_COMMAND$;=cat
$;INPUT_ARGS$;=$;REPOSITORY_ROOT$;/output_repository/fetch_genbank/$;PIPELINEID$;_default/fetch_genbank.list ${input.INPUT_GB_LIST}
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/${params.OUTPUT_PREFIX}.gb.list

[validate_genbank default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_make_gb_list/${params.OUTPUT_PREFIX}.gb.list

[tag_data clovr_validation]
$;OUTPUT_TOKEN$;=clovr_validation
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;FLATTEN$; = 1
$;INPUT$;=<<_EOT
#TAG_NAME	FILES\n
validation_changelog	$;REPOSITORY_ROOT$;/output_repository/validate_genbank/$;PIPELINEID$;_default/changelog.txt	format_type=txt\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;NODISTRIB$; = 1

[create_map_file default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/validate_genbank/$;PIPELINEID$;_default/genbank.gbk.list
$;MAP_FILE$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_default/$;COMPONENT_NAME$;.map.txt
$;GENBANK_LIST$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_default/genbank.list

[genbank2bsml default]
$;GENERATE_NEW_SEQ_IDS$;=1
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_$;OUTPUT_TOKEN$;/genbank.list
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt
$;STAGEDATA$; = $;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt

[bsml2fasta default]
$;USE_SEQUENCE_IDS_IN_FASTA$;=1
$;FORMAT$;=multi
$;OUTPUT_FILE$;=${params.OUTPUT_PREFIX}.fsa
$;OUTPUT_TOKEN$;=default
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list,${input.INPUT_BSML_LIST}
$;CLASS_FILTER$;=assembly
