## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
INPUT_TAG={"display": "Input Tag", "default": nil, "desc": "Input tag of sequences to BLAST against"}
REF_DB_TAG={"display": "Reference database tag", "default": nil, "desc": "Reference database tag to BLAST against"}

PIPELINE_NAME={"display": "Pipeline Name", "default": "clovr_blast_pipeline", "desc": "Name of pipeline"}


[misc]
SEQS_PER_FILE={"display": "Sequences Per File", "default": 1000, "default_hidden": true, "desc": "Number of sequences per distributed file.  This should not need to be changed as it will automatically be calculted"}
EXPECT={"display": "Expect value", "default": "1e-5", "default_hidden": true, "desc": "Expect cutoff value for BLAST"}
OTHER_OPTS={"display": "Other options", "default": "-m8", "default_hidden": true, "desc": "Other options to pass to BLAST"}
PROGRAM={"display": "BLAST Program", "default": "blastn", "desc": "BLAST program to run"}



##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################
[cluster]
CLUSTER_NAME={"display": "Cluster Name", "default": "local", "default_hidden": true, "desc": "Cluster name to run this on, shouldn't need to specify manually"}
EXEC_NODES={"default": 1, "default_hidden": true, "desc": "Number of exec nodes, should not need to specify manually"}
CLOVR_CONF={"default": "clovr.conf", "default_hidden": true, "desc": "Config file, should not need to specify manually"}
CLUSTER_CREDENTIAL={"display": "Credential", "default": "local", "desc": "Credential to use to make the cluster"}

#key=/mnt/devel1.pem
#host=localhost

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
OUTPUT_DIRECTORY={"display": "Output Directory", "default": "/mnt/output", "desc": "Directory to download output to, this should be located in /mnt somewhere"}

[pipeline]
PIPELINE_TEMPLATE={"default": "blastall", "default_hidden": true, "desc": "The type of the pipeline we are running"}
PIPELINE_ARGS={"default": "--INPUT_TAG=${input.INPUT_TAG} --REF_DB_TAG=${input.REF_DB_TAG} --PROGRAM=${misc.PROGRAM} --EXPECT=${misc.EXPECT} --SEQS_PER_FILE=${misc.SEQS_PER_FILE} --OTHER_OPTS=${misc.OTHER_OPTS}", "default_hidden": true, "desc": "Default way to compose variables"}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "default_hidden": true, "desc": null}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_blastall/clovr_blastall.prerun.xml", "default_hidden": true, "desc": null}
#Postrun is run after pipeline completion and after downlaod data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "default_hidden": true, "desc": null}



