<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build clovr-standard image and upload to Amazon EC2</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>/mnt/image.img</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>UPLOAD_EC2</name>
          <description>Upload image to EC2 on a successful build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>UPLOAD_DIAG</name>
          <description>Upload image to DIAG</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUNDLE_TOOLS</name>
          <description>Bundle guest tools for VMware and Virtualbox</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPLASHSCRIPT</name>
          <description>Script to install a splash screen on the image</description>
          <defaultValue>/opt/vappio-install/recipes/clovrsplash.sh</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_DIR</name>
          <description>For recovering a failed build only, leave blank by default for new builds. For failed builds, this is the prefix for the loopback directory that is mounted as BUILD_DIR.live</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_NAME</name>
          <description>For recovering a failed build only, leave blank by default for new builds. For failed builds, this is the target image name, usually clovr-standard-datestring</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SVNTAG</name>
          <description>Tag SVN repositories with build name</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt
export BUILD_ID=$BUILD_ID
export BUILD_DIR=$BUILD_DIR
export BUILD_NAME=$BUILD_NAME
export UPLOAD_EC2=$UPLOAD_EC2
if [ &quot;$BUNDLE_TOOLS&quot; = &quot;true&quot; ]
then
	bundletools=&quot;-t&quot;
fi

sudo -E /opt/vappio-util/vp-build -s $SPLASHSCRIPT $bundletools $IMAGE_NAME clovr-standard

bldimgname=`echo &quot;$BUILD_ID&quot; | sed &apos;s/_/-/&apos;`

if [ &quot;$SVNTAG&quot; = &quot;true&quot; ]
then
  curl &quot;http://localhost:8888/job/Tag%20SVN%20revision%20for%20image/buildWithParameters?BUILD_NAME=clovr-standard-$bldimgname&amp;BUILD_TIME=$BUILD_ID&quot;
fi

if [ $? = 0 ] &amp;&amp; [ &quot;$UPLOAD_EC2&quot; = &quot;true&quot; ]
then
  curl http://localhost:8888/job/Bundle%20ec2%20image/buildWithParameters?IMAGE_NAME=/mnt/clovr-standard-$bldimgname
fi

if [ $? = 0 ] &amp;&amp; [ &quot;$UPLOAD_DIAG&quot; = &quot;true&quot; ]
then
  bldimgname=`echo &quot;$BUILD_ID&quot; | sed &apos;s/_/-/&apos;`
  curl http://localhost:8888/job/Bundle%20diag%20image/buildWithParameters?IMAGE_NAME=/mnt/clovr-standard-$bldimgname
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>