[mothur_trim_seqs default]
$;INPUT_FILE_LIST$; = ${FASTA_FILES}
$;OLIGOS_FILE$; = ${OLIGOS_FILE}
$;QUALITY_FILE$; = ${QUALITY_FILE}

[mothur_align_seqs default]
$;TEMPLATE_FILE$; = /mnt/upload/core_set_aligned.imputed.fasta

[mothur_collect_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_rarefaction_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_summary single]
$;GROUP_COUNT$; = ${GROUP_COUNT}

