[mothur_trim_seqs default]
$;INPUT_FILE_LIST$; = ${INPUT_FILE_LIST}
$;OLIGOS_FILE$; = ${DB_PATH}/IGS.oligos

[mothur_align_seqs default]
$;TEMPLATE_FILE$; = ${DB_PATH}/SilvaAlignment/silva.bacteria.align.fasta

[mothur_collect_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_rarefaction_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_summary single]
$;GROUP_COUNT$; = ${GROUP_COUNT}

