[interface]
classification = utility

[parameters]
;; Distance file format
$;DIST_FORMAT$;=column
;; Only read in specific lines in the data
$;LABEL$;=0.10
;; Sort output (valid options are name, bin number, bin size, group)
$;SORTED$;=
;; Indicate whether or not your distance matrix is too large to fit in RAM (true/false)
$;LARGE$;=

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_cluster/$;PIPELINEID$;_default/mothur_cluster.list.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSIONS$;=dist
;; Indicate sequence names that are identical to a reference sequence
$;NAMES_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_unique_seqs/$;PIPELINEID$;_otu_assignment/mothur_unique_seqs.names.list
;; Sequences represented in the distance matrix
$;FASTA_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_trim_seqs/$;PIPELINEID$;_default/mothur_trim_seqs.trim.fasta.list
;; A list of distance files in either phylip or column format
$;DISTANCE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_dist_seqs/$;PIPELINEID$;_default/mothur_dist_seqs.dist.list
;; File specifying what groups to include in analysis
$;GROUPS_LIST$; = $;REPOSITORY_ROOT$;/output_repository/mothur_screen_seqs/$;PIPELINEID$;_default/mothur_screen_seqs.good.groups.list

[output]
$;OUTPUT_TOKEN$;=default
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;REP_FASTA_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.rep.fasta.list
$;REP_NAMES_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.rep.names.list

[component]
$;COMPONENT_NAME$;=mothur_get_oturep
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801 $

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=

