[split_fasta_fastq default]
$;FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE_LIST$;=${input.INPUT_LIST}

[split_file default]
$;LINES_PER_FILE$;=1
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/split_fasta_fastq/$;PIPELINEID$;_default/split_fasta_fastq.list

[bmtagger default]
$;REFERENCE_BITMASK$;=/mnt/staging/data/clovr-bmtagger-db/hs37.bitmask
$;REFERENCE_SRPRISM$;=/mnt/staging/data/clovr-bmtagger-db/hs37.srprism
$;INPUT_CLASS$;=single
$;INPUT_FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_file/$;PIPELINEID$;_default/split_file.list

[filter_sequences_by_id default]
$;INPUT_FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE_LIST$;=${input.INPUT_LIST}
$;ID_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bmtagger/$;PIPELINEID$;_default/bmtagger.raw.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=default
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
screened_files	$;REPOSITORY_ROOT$;/output_repository/filter_sequences_by_id/$;PIPELINEID$;_default/filter_sequences_by_id.list\n
screened_ids	$;REPOSITORY_ROOT$;/output_repository/bmtagger/$;PIPELINEID$;_default/bmtagger.raw.list\n	
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
