[create_map_file default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}

[genbank2bsml default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt

[bsml2fasta genomic]
$;OUTPUT_TOKEN$;=genomic
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;CLASS_FILTER$;=assembly

[mugsyalign default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/bsml2fasta.fsa.list 
$;FASTA_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/bsml2fasta.fsa.list
$;OTHER_OPTS$;=--refine
$;OUTPUT_PREFIX$;=${params.OUTPUT_PREFIX}

[tag_data clovr_WGA]
$;OUTPUT_TOKEN$;=clovr_WGA
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
mugsyalign_maf_tag	$;REPOSITORY_ROOT$;/output_repository/mugsyalign/$;PIPELINEID$;_default/${params.OUTPUT_PREFIX}.maf\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
