[interface]
classification = utility

[parameters]
$;SUMMARY_TYPE$;=shared
$;OTU_FORMAT$;=shared
;; Any command line arguments to pass to summary.shared or summary.single
$;CONFIG_OPTIONS$;=groups=A1-A2-A3-A4

[input]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mothur_read_otu/$;PIPELINEID$;_default/mothur_read_otu.shared.list
$;INPUT_FILE$;=
$;INPUT_DIRECTORY$;=
;; the following is only used when iterating over an INPUT_DIRECTORY
$;INPUT_EXTENSION$;=list

[output]
$;OUTPUT_TOKEN$;=shared
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;SUMMARY_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.summary.list
$;SHARED_SUMMARY_FILE_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.shared.summary.list

[component]
$;COMPONENT_NAME$;=mothur_summary
$;DESCRIPTION$;=none
$;WORKFLOW_REPOSITORY$;=$;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$;=unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$;=$Name$
$;RELEASE_TAG$;=$Name$
$;REVISION$;=$Revision: 5801$

$;TEMPLATE_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$;=i1
$;ITERATOR1_XML$;=$;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$;=150
$;NODISTRIB$;=0

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$;=
$;COMPONENT_XML$;=
$;PIPELINE_XML$;=
$;PIPELINEID$;=

[include]
$;PROJECT_CONFIG$;=


