[dual16S_pre default]
$;INPUT_FILE_LIST$; = ${FASTA_FILES}
$;MAP_FILE$; = ${MAPPING_FILE}
$;MIN_LENGTH$; = 100

[pick_otus_through_otu_table default]
$;CUSTOM_PARAMETERS_FILE$; = /mnt/upload/Gut/custom_params.txt
$;MAPPING_FILE$; = ${MAPPING_FILE}

[mothur_trim_seqs default]
$;INPUT_FILE_LIST$; = ${FASTA_FILES}

[mothur_align_seqs default]
$;TEMPLATE_FILE$; = ${DB_PATH}/core_set_aligned.imputed.fasta

[mothur_collect_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_rarefaction_single default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[mothur_summary single]
$;GROUP_COUNT$; = ${GROUP_COUNT}

