[bowtie_build default]
$;INPUT_FILE_LIST$; = ${input.REFERENCE_TAG}
$;BUILD_ARGS$; = ${params.BOWTIE_BUILD_OPTS}

[bowtie default]
$;READS$; = `/usr/bin/python /opt/vappio-py/igs/misc/convertTagToCommaSep.py ${input.READS_TAG}`
$;X$; = ${params.MAX_INSERT_SIZE}
$;V$; = ${params.MAX_MISMATCHES}
$;M$; = ${params.MAX_ALIGNS_PER_READ}
$;OTHER_OPTS$; = ${params.BOWTIE_OPTS}

[tag_data clovr_align_bowtie]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}
