[split_multifasta default]
$;SEQS_PER_FILE$; = 10000000
$;INPUT_FILE_LIST$; = ${input.INPUT_FASTA}

[usearch sort]
$;ALGORITHM$; = sortbylength
$;OTHER_ARGS$; = --minseqlength ${params.MIN_SEQ_LENGTH}
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list

[usearch cluster]
$;ALGORITHM$; = cluster_smallmem
$;OTHER_ARGS$; = --id ${params.IDENTITY_THRESHOLD}
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/usearch/$;PIPELINEID$;_sort/usearch.fsa.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=default
$;INPUT$;=<<_EOT
nonredundant_fasta	$;REPOSITORY_ROOT$;/output_repository/usearch/$;PIPELINEID$;_cluster/usearch.fsa.list\n
clusters_and_hits	$;REPOSITORY_ROOT$;/output_repository/usearch/$;PIPELINEID$;_cluster/usearch.uc.list\n
stats	$;REPOSITORY_ROOT$;/output_repository/usearch/$;PIPELINEID$;_cluster/stats.txt\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
