<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build vmx dist</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt
	wget -P /mnt http://cb2.igs.umaryland.edu/vmware_bundle.tgz
	tar xvzf vmware_bundle.tgz
	cp /mnt/image.vmdk vmware_bundle/image.vmdk
	sudo /opt/vappio-util/vp-bundle-vmx ./image.vmdk vmware_bundle/start_clovr.vmx.template vmware_bundle/start_clovr.vmx clovr_vmware_testing
	mv vmware_bundle clovr_vmware_testing
	tar cvzf clovr_vmware_testing.tgz clovr_vmware_testing 
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
