<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build vbox dist</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /mnt
	mkdir clovr_vbox_testing
	/opt/vappio-util/vp-bundle-ovf /mnt/image.vmdk clovr_vbox_testing clovr_vbox_testing/clovr_vbox_testing.ovf
	tar cvzf clovr_vbox_testing.tgz clovr_vbox_testing 
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
