[interface]
classification = utility

[parameters]
;; This component tags data using the CloVR tagData.py script
;; Input is a hard-coded template file generated prior to the
;; execution of this component.
$;REPO_ROOT$; = $;REPOSITORY_ROOT$;
$;PIPELINE_ID$; = $;PIPELINEID$;
$;PIPELINE_NAME$; =
$;FLATTEN$; = 

[input]
$;INPUT$; = <<_EOT
#TAG_NAME       FILES
filtered_reads	$;REPOSITORY_ROOT$;/output_repository/qiime_mothur_cnvr/$;PIPELINEID$;_default/splitlibs
chimeras	$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_concatentate_chimera_reps/allchimeraids.txt
uclust_otus	$;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_pick_genus_level_otus/picked_clusters
blast_taxonomy	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastn/$;PIPELINEID$;_default/ncbi-blastn.raw.list
tables_taxonomy	$;REPOSITORY_ROOT$;/output_repository/clovr_metagenomics_tables/$;PIPELINEID$;_taxonomy/tables.list
piecharts_taxonomy	$;REPOSITORY_ROOT$;/output_repository/piecharts/$;PIPELINEID$;_taxonomy/piecharts.results.list
skiff_taxonomy	$;REPOSITORY_ROOT$;/output_repository/skiff/$;PIPELINEID$;_taxonomy/skiff.results.list
metastats_taxonomy	$;REPOSITORY_ROOT$;/output_repository/metastats/$;PIPELINEID$;_taxonomy/metastats.results.list
histograms_taxonomy	$;REPOSITORY_ROOT$;/output_repository/histogram_stacked/$;PIPELINEID$;_taxonomy/histogram_stacked.results.list
rarefactions	$;REPOSITORY_ROOT$;/output_repository/mothur_rarefaction_single/$;PIPELINEID$;_default/mothur_rarefaction_single.rarefaction.list
mothur_summary	$;REPOSITORY_ROOT$;/output_repository/mothur_summary/$;PIPELINEID$;_single/mothur_summary.summary.list
rarefaction_plots	$;REPOSITORY_ROOT$;/output_repository/leech/$;PIPELINEID$;_default/leech.results.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;MAP_FILE$; = $;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
                                                                

[output]
$;OUTPUT_TOKEN$; = default
$;OUTPUT_DIRECTORY$; = $;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;

[component]
$;COMPONENT_NAME$; = tag_data
$;DESCRIPTION$; = none
$;WORKFLOW_REPOSITORY$; = $;REPOSITORY_ROOT$;/workflow/runtime/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;PIPELINE_TOKEN$; = unnamed

;The version,revision,tag here is set by an interpolated CVS tag
$;VERSION$; = $Name$
$;RELEASE_TAG$; = $Name$
$;REVISION$; = $Revision: 5801$

$;TEMPLATE_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.xml
$;ITERATOR1$; = i1
$;ITERATOR1_XML$; = $;DOCS_DIR$;/$;COMPONENT_NAME$;.$;ITERATOR1$;.xml

;Distributed options
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1

;the following keys are replaced at runtime by the invocation script
$;COMPONENT_CONFIG$; =
$;COMPONENT_XML$; =
$;PIPELINE_XML$; =
$;PIPELINEID$; =

[include]
$;PROJECT_CONFIG$;=
