[order_paired_list default]
$;INPUT_FILE$;=${input.PAIRED_LIST}

[split_fasta_fastq mate1]
$;FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE$;=`head -n 1 $;REPOSITORY_ROOT$;/output_repository/order_paired_list/$;PIPELINEID$;_default/order_paired_list.list`

[split_fasta_fastq mate2]
$;FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE$;=`head -n 2 $;REPOSITORY_ROOT$;/output_repository/order_paired_list/$;PIPELINEID$;_default/order_paired_list.list | tail -n 1`

[split_paired_files default]
$;INPUT_FILE1$;=$;REPOSITORY_ROOT$;/output_repository/split_fasta_fastq/$;PIPELINEID$;_mate1/split_fasta_fastq.list
$;INPUT_FILE2$;=$;REPOSITORY_ROOT$;/output_repository/split_fasta_fastq/$;PIPELINEID$;_mate2/split_fasta_fastq.list

[bmtagger default]
$;REFERENCE_BITMASK$;=/mnt/staging/data/clovr-bmtagger-db/hs37.bitmask
$;REFERENCE_SRPRISM$;=/mnt/staging/data/clovr-bmtagger-db/hs37.srprism
$;INPUT_CLASS$;=paired
$;INPUT_FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_paired_files/$;PIPELINEID$;_default/split_paired_files.list

[filter_sequences_by_id default]
$;INPUT_FORMAT$;=${params.INPUT_FORMAT}
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/order_paired_list/$;PIPELINEID$;_default/order_paired_list.list
$;ID_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bmtagger/$;PIPELINEID$;_default/bmtagger.raw.list

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=default
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
screened_files	$;REPOSITORY_ROOT$;/output_repository/filter_sequences_by_id/$;PIPELINEID$;_default/filter_sequences_by_id.list\n
screened_ids	$;REPOSITORY_ROOT$;/output_repository/bmtagger/$;PIPELINEID$;_default/bmtagger.raw.list\n	
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
