##############           INPUT         ###############
##  Input information
##  Configuration options for the pipeline
######################################################
[input]

#GENBANK_FILES=/tmp/temp/Chlamydophila_pneumoniae_AR39/NC_013416.gbk /tmp/temp/Chlamydophila_pneumoniae_AR39/NC_002180.gbk

PIPELINE_NAME=clovr_mugsy

ORGANISM=some_organism

GENBANK_TAG=hudson_genbank_tag

REFERENCE_DB_TAG=clovr-prok-db

TAGS_TO_DOWNLOAD=mugsyalign_maf_tag,mugsyprep_map_tag,muscle_bsml_tag,muscle_raw_tag

POST_QC_METRIC_ERROR_LOG=/mnt/post-qc-log.txt

##############      CLUSTER INFO       #############
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's 
## not running, will start a cluster with the default
## settings
####################################################
[cluster]

CLUSTER_NAME=local
EXEC_NODES=10
CLOVR_CONF=clovr.conf
CLUSTER_CREDENTIAL=local

############      OUTPUT INFO         ##############
## Specifies where locally the data will end up and
## also logging information 
####################################################
[output]

OUTPUT_PREFIX=somefile_mini

OUTPUT_DIRECTORY=/mnt/output

log_file=/mnt/prok_run.conf.log

debug_level=3

############         PIPELINE EXEC    ###############
## Pipeline executables
####################################################
[pipeline]

PIPELINE_TEMPLATE=clovr_mugsy

#PIPELINE_ARGS=--INPUT_FILE_LIST=${input.INPUT_TAG}

PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_mugsy/clovr_mugsy.prestart.xml

PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_mugsy/clovr_mugsy.prerun.xml

POSTRUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_mugsy/clovr_mugsy.postrun.xml

DOWNLOAD_TAG_ITERATOR_XML=/opt/ergatis/docs/clovrdownload_tag.iterator.xml
