[mugsy_concat_fasta default]
$;INPUT_FSA_LIST$;=${input.INPUT_FSA_LIST}
$;INPUT_BSML_LIST$;=${input.INPUT_BSML_LIST}
$;STAGEDATA$;=${input.INPUT_BSML_LIST} ${input.INPUT_FSA_LIST}

[mugsyalign default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mugsy_concat_fasta/$;PIPELINEID$;_default/mugsy_concat_fasta.fsa.list
$;FASTA_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mugsy_concat_fasta/$;PIPELINEID$;_default/mugsy_concat_fasta.fsa.list
$;OUTPUT_PREFIX$;=${params.OUTPUT_PREFIX}
$;OTHER_OPTS$;=--refine

[tag_data clovr_mugsy]
$;OUTPUT_TOKEN$;=clovr_mugsy
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
mugsyalign_maf_tag	$;REPOSITORY_ROOT$;/output_repository/mugsyalign/$;PIPELINEID$;_default/${params.OUTPUT_PREFIX}.maf\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;NODISTRIB$; = 1
