[create_map_file default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}

[genbank2bsml default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt

[bsml2fasta genomic]
$;OUTPUT_TOKEN$;=genomic
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;CLASS_FILTER$;=assembly

[concatenate_files default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/bsml2fasta.fsa.list 

[mugsyprep default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;FASTA_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/bsml2fasta.fsa.list

[mugsyalign default]
$;BCP_OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/$;COMPONENT_NAME$;.bcp.list
$;OUTPUT_DIRECTORY$;=$;REPOSITORY_ROOT$;/output_repository/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;OUTPUT_TOKEN$;=default
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic $;OUTPUT_DIRECTORY$;
$;FASTA_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/bsml2fasta.fsa.list
$;FASTA_FILE_DIR$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_genomic/
$;OTHER_OPTS$;=--refine

[mugsycog default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/mugsyprep/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/mugsyalign/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default $;OUTPUT_DIRECTORY$;
$;MUGSY_MAP_FILE$;=$;REPOSITORY_ROOT$;/output_repository/mugsyprep/$;PIPELINEID$;_default/mugsymap_complete.txt
$;GENOMIC_MULTIFASTA$;=$;REPOSITORY_ROOT$;/output_repository/concatenate_files/$;PIPELINEID$;_default/default.out
$;BSML_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list 
$;MUGSY_ALIGNMENT$;=$;REPOSITORY_ROOT$;/output_repository/mugsyalign/$;PIPELINEID$;_default/mugsyalignment.maf
$;OTHER_OPTS$;=--cogformat=1 
$;IDENTITY$;=0.1
$;COVERAGE$;=0.5

[muscle mugsy]
$;OUTPUT_TOKEN$;=mugsy
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/mugsycog/$;PIPELINEID$;_default/mugsycog.fsa.list
$;DESCRIPTION$;= 

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
mugsyalign_maf_tag	$;REPOSITORY_ROOT$;/output_repository/mugsyalign/$;PIPELINEID$;_default/mugsyalignment.maf	filetype=fasta,refdb=blast
mugsyprep_map_tag	$;REPOSITORY_ROOT$;/output_repository/mugsyprep/$;PIPELINEID$;_default/mugsymap_complete.txt
muscle_bsml_tag	$;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_mugsy/muscle.bsml.list	filetype=fasta
muscle_raw_tag	$;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_mugsy/muscle.raw.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

