[bowtie_build default]
$;INPUT_FILE$;=`cat ${input.REFERENCE_FILE_LIST}`

[run_command prepare_input_for_bowtie]
$;INPUT_COMMAND$;=/opt/ergatis/bin/prepare_input_for_bowtie
$;INPUT_ARGS$;=-o $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list -p ${input.INPUT_PAIRED_TAG} -n ${input.INPUT_READS_TAG} 

[bowtie default]
$;INPUT_FILE_LIST$;= $;REPOSITORY_ROOT$;/output_repository/run_command/$;PIPELINEID$;_prepare_input_for_bowtie/combined_input.list
$;REFERENCE$;=$;REPOSITORY_ROOT$;/output_repository/bowtie_build/$;PIPELINEID$;_default/reference
$;X$;=${params.MAX_INSERT_SIZE}
$;V$;=${params.MAX_MISMATCHES}
$;M$;=${params.MAX_ALIGNS_PER_READ}

[tag_data clovr_align_bowtie_indices]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;OUTPUT_TOKEN$;=clovr_align_bowtie_indices
$;INPUT$;=<<_EOT
bowtie_sam	$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/aligned_sam_list.txt
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

[sort_sam_by_name default]
$;INPUT_FILE_LIST$; = $;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/aligned_sam_list.txt

[htseq_count_reads default]
$;GTF_FILE$; = `cat ${input.GFF3_FILE_LIST}`
$;COUNT_MODE$; = ${params.COUNT_MODE}
$;COUNTING_FEATURE$; = ${params.COUNTING_FEATURE}
$;MIN_ALIGN_QUAL$; = ${params.MIN_ALIGN_QUAL}
$;IS_STRANDED$; = ${params.IS_STRANDED}
$;ID_ATTRIBUTE$; = ${params.ID_ATTRIBUTE}

[deseq default]
$;SAMPLE_MATCHING_FILE$; = `cat ${input.INPUT_SAMPLE_MAP_TAG}`

[tag_data clovr_rna_seq_prok_expression_analysis]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_rna_seq_prok_expression_analysis
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;INPUT$; = <<_EOT
sort_sam_by_name_sam	$;REPOSITORY_ROOT$;/output_repository/sort_sam_by_name/$;PIPELINEID$;_default/sorted_sam_list.txt
htseq_counts	$;REPOSITORY_ROOT$;/output_repository/htseq_count_reads/$;PIPELINEID$;_default/count_file_list.txt
deseq_all_counts	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/all_counts_file_list.txt
deseq_count_stat	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/count_stat_file_list.txt
deseq_tiff	$;REPOSITORY_ROOT$;/output_repository/deseq/$;PIPELINEID$;_default/tiff_file_list.txt
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
 
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT

[sam_to_bam default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bowtie/$;PIPELINEID$;_default/aligned_sam_list.txt

[samtools_pileup default]
$;REFERENCE$;=${input.REFERENCE_FILE_LIST}

[tag_data clovr_pileup]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;OUTPUT_TOKEN$;=clovr_pileup
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;INPUT$; = <<_EOT
samtools_bam	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/sorted_bam_list.txt
samtools_bam_index	$;REPOSITORY_ROOT$;/output_repository/sam_to_bam/$;PIPELINEID$;_default/bam_index_list.txt
basic_stats_idx	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/idxstats_output_list.txt
basic_stats_flag	$;REPOSITORY_ROOT$;/output_repository/basic_alignment_stats/$;PIPELINEID$;_default/flagstat_output_list.txt
samtools_pileup	$;REPOSITORY_ROOT$;/output_repository/samtools_pileup/$;PIPELINEID$;_default/pileup_output_list.txt
pileup2wig_wig	$;REPOSITORY_ROOT$;/output_repository/pileup_to_wig/$;PIPELINEID$;_default/wig_file_list.txt
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz
_EOT

