<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs the PyCogent unit test suite.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo /opt/hudson/pycogent_install_tests.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
  <customWorkspace>/opt/hudson/PyCogent/</customWorkspace>
</project>
