[uclust reads]
$;INPUT_FILE_LIST$; = ${input.INPUT_FILE_LIST}

[split_multifasta default]
$;SEQS_PER_FILE$; = ${params.SEQS_PER_FILE}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[metagene default]
$;NUM_SEQS$; = ${params.NUM_SEQS}
$;CUTOFF$; = ${params.CUTOFF}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[translate_sequence default]
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[split_multifasta multi]
$;TOTAL_FILES$;= ${params.TOTAL_FILES}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[ncbi-blastp default]
$;DATABASE_PATH$;=${input.DB_TAG}
$;GROUP_COUNT$; = ${params.GROUP_COUNT}

[tag_data default]
$;PIPELINE_NAME$; = ${input.PIPELINE_NAME}

[run_command add_config_to_tag]
$;INPUT_COMMAND$;=/opt/vappio-py/vappio/cli/vp-describe-task
$;INPUT_ARGS$;=--block --exit-code `vp-run-metrics -t --pipeline-name=${input.PIPELINE_NAME} "add-config-to-tag-metadata"`
$;COMMAND_STDOUT$;=$;OUTPUT_DIRECTORY$;/add_config_to_tag.out
