[uclust reads]
$;INPUT_FILE_LIST$; = ${INPUT_FILE_LIST}

[split_multifasta default]
$;SEQS_PER_FILE$; = ${SEQS_PER_FILE}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[metagene default]
$;NUM_SEQS$; = ${NUM_SEQS}
$;CUTOFF$; = ${CUTOFF}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[translate_sequence default]
$;GROUP_COUNT$; = ${GROUP_COUNT}

[split_multifasta multi]
$;TOTAL_FILES$;= ${TOTAL_FILES}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[ncbi-blastp default]
$;DATABASE_PATH$;=${DB_PATH}
$;GROUP_COUNT$; = ${GROUP_COUNT}

[tag_data default]
$;INPUT_FILE$; = ${DOWNLOAD_MAP}
