[uclust reads]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;OUTPUT_TOKEN$;=reads
$;SORT_ALGORITHM$;=mergesort
$;IDENTITY_THRESHOLD$;=0.98
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[split_multifasta default]
$;SEQS_PER_FILE$;=${params.SEQS_PER_FILE}
$;OUTPUT_DIRECTORY$;=$;STAGING_ROOT$;/$;COMPONENT_NAME$;/$;PIPELINEID$;_$;OUTPUT_TOKEN$;
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_reads/uclust.fsa.list
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 0

[tabula_rasa default]
$;INPUT_FILE$;=$;TEMPLATE_XML$;
$;INPUT_COMMAND$;=/opt/vappio-scripts/syncdata.sh --synchronous
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[metagene default]
$;CUTOFF$;=${params.CUTOFF}
$;NUM_SEQS$;=${params.NUM_SEQS}
$;SKIP_WF_COMMAND$;=store config params,dtd validation,get_seq_by_metagene,create tbl list,create gbk list
$;INPUT_FILE_LIST$;=$;STAGING_ROOT$;/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 0

[translate_sequence default]
$;REVISION$;=$Revision: 5801 $
$;SKIP_WF_COMMAND$;=create bsml list,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/metagene/$;PIPELINEID$;_default/metagene.bsml.list
$;CLEANUP$;=1
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 0

[uclust polypeptide]
$;OUTPUT_TOKEN$;=polypeptide
$;INPUT_FILE$;=$;REPOSITORY_ROOT$;/output_repository/translate_sequence/$;PIPELINEID$;_default/translate_sequence.concat.fsa
$;SORT_ALGORITHM$;=mergesort
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[split_multifasta multi]
$;TOTAL_FILES$;=${params.TOTAL_FILES}
$;OUTPUT_TOKEN$;=multi
$;REVISION$;=$Revision: 5801 $
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_polypeptide/uclust.fsa.list
$;GROUP_COUNT$; = 1
$;NODISTRIB$; = 0

[ncbi-blastp default]
$;DATABASE_PATH$;=${input.DB_TAG}
$;REVISION$;=$Revision: 5801 $
$;SKIP_WF_COMMAND$;=create bsml list,convert raw to bsml,store config params,dtd validation
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_multi/split_multifasta.fsa.list
$;COMPRESS_RAW_OUTPUT$;=0
$;COMPRESS_BSML_OUTPUT$;=0
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 0

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
uclust_polypeptide_fasta	$;REPOSITORY_ROOT$;/output_repository/uclust/$;PIPELINEID$;_polypeptide/uclust.fsa.list
blastp_btab	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.btab.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
