[mugsycog default]
$;MAX_MULTI_ALIGNMENT$;=100
$;USE_FEATURE_IDS_IN_FASTA$;=1
$;COVERAGE$;=0.7
$;IDENTITY$;=0.6
$;MUGSY_MAP_FILE$;=$;REPOSITORY_ROOT$;/output_repository/mugsyprep/$;PIPELINEID$;_default/mugsymap_complete.txt
$;MUGSY_ALIGNMENT$;=`cat ${input.INPUT_MAF_FILE}`
$;GENOMIC_MULTIFASTA$;=`cat ${input.INPUT_FSA_FILE}`
$;BSML_FILE_LIST$;=${input.INPUT_BSML_LIST}

[tag_data clovr_mugsycog]
$;OUTPUT_TOKEN$;=clovr_mugsycog
$;PIPELINE_NAME$;=${pipeline.PIPELINE_WRAPPER_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES\n
mugsy_mapped_features	$;REPOSITORY_ROOT$;/output_repository/mugsycog/$;PIPELINEID$;_default/mugsyoutput.raw	format_type=cog\n
mugsy_mapped_cogformat	$;REPOSITORY_ROOT$;/output_repository/mugsycog_transform/$;PIPELINEID$;_default/mugsyoutput_transformed.cog	format_type=cog\n
cluster_fasta	$;REPOSITORY_ROOT$;/output_repository/mugsycog_transform/$;PIPELINEID$;_default/mugsycog_transform.fsa.list	format_type=aa_fasta\n
#################    Workflow xml download       ##########################\n
# paths for all the workflow xml dirs are tarred to /tmp/workflow_xml.tar #\n
# For further reference, see preprocessing commands in tag_data.xml       #\n
###########################################################################\n
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.tar.gz\n
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
