## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################

[input]

GENBANK_TAG={"display": "Input Genbank Tag", "default": "bifidobacter_genbank_tag", "desc": "Input Genbank tag", "source": "tags"}

REFERENCE_DB_TAG={"display": "Reference database tag", "default": "clovr-prok-db", "desc": "Reference database", "source": "tags"}


#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################

[params]

ORGANISM={"display": "Organism name", "default": "some_organism_name", "desc": "Name of organism"}

OUTPUT_PREFIX={"display": "Output prefix", "default": "somefile_mini", "desc": "Some file mini"}

##########################################################
## Cluster info.
## If the cluster_tag is present, the script will first
## check for the presence of this cluster and if it's not
## running will start a cluster with the default settings
##########################################################

[cluster]

-include_in_section /opt/clovr_pipelines/common_config/cluster.config

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################

[output]

-include_in_section /opt/clovr_pipelines/common_config/output.config

## Downloading of workflow xmls can be accomplished by adding 'workflow_xml_tag' to TAGS_TO_DOWNLOAD
TAGS_TO_DOWNLOAD={"display": "Download tags", "default": "ncbi_blastp_raw,jaccard_fasta,muscle_jaccard_raw,joc_fasta,muscle_joc_raw", "desc": "Comma separated list of tags that should be downloaded"}


[download]


[pipeline]

-include_in_section /opt/clovr_pipelines/common_config/pipeline.config

SOP_VERSION={"default": "clovr_comparative_version_0.0", "type": "string", "visibility": "always_hidden"}

PIPELINE_TEMPLATE={"default": "clovr_comparative", "visibility": "always_hidden", "desc": "The type of the pipeline we are running"}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.prestart.xml", "visibility": "always_hidden", "desc": null}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.prerun.xml", "visibility": "always_hidden", "desc": null}
#Postrun is run after pipeline completion and after download data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.postrun.xml", "visibility": "always_hidden", "desc": null}

DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "desc": null}

