## Template configuration file for
#########################################################
## Input information.
## Configuration options for the pipeline.
#########################################################
[input]
GENBANK_TAGS={"display": "Input Genbank Tags", "default": "", "desc": "Input Genbank tags", "type": "dataset list", "type_params": {"format_type": ["genbank"], "transform_name": "input.INPUT_GB_LIST"}, "require_value": false}

GENBANK_IDS={"display": "Genbank IDs to be downloaded.", "default": "", "desc": "Input Genbank IDs", "type": "string list", "type_params": {"transform_name": "input.GENBANK_IDS"}, "require_value": false}

BSML_TAGS={"display": "Input bsml Tags", "default": "", "desc": "Input bsml tags", "type": "dataset list", "type_params": {"format_type": ["bsml"], "transform_name": "input.INPUT_BSML_LIST"}, "require_value": false, "visibility": "always_hidden"}

#########################################################
## Pipeline parameters
## Any parameters to be passed to the pipeline
#########################################################
[params]
OUTPUT_PREFIX={"display": "Output prefix", "default": "somefile_mini", "desc": "No spaces or dashes.", "type": "string", "require_value": true}
SITE_NAME={"display": "Name of Sybil site", "default": "clovr_sybil", "desc": "The name of the Sybil site and database. No spaces or dashes.", "type": "string", "require_value": true}
USERNAME={"display": "Sybil Username", "default": "sybil_user", "desc": "Username for Sybil site. No spaces or dashes.", "type": "string", "require_value": true}
PASSWORD={"display": "Sybil Password", "default": "sybil", "desc": "Password for Sybil site. No spaces.", "type": "string", "require_value": true}

#########################################################
## For uploading input tags. Should not change
#########################################################
INPUT_TAGS={"display": "Input Tag Vars", "default": "$;GENBANK_TAGS$;,$;BSML_TAGS$;", "visibility": "always_hidden", "type": "string" }

#########################################################
## Output info.
## Specifies where locally the data will end up and also
## logging information
#########################################################
[output]
-include_in_section /opt/clovr_pipelines/common_config/output.config

## Downloading of workflow xmls can be accomplished by adding 'workflow_xml_tag' to TAGS_TO_DOWNLOAD
TAGS_TO_DOWNLOAD={"display": "Download tags", "default": "validation_changelog, mugsyalign_maf_tag,mugsy_mapped_features,mugsy_mapped_cogformat,cluster_fasta,snps_file,wga_tree, wga_tree_svg, wga_tree_pdf, summary_files, summary_report, sybil_archive, circleator_pdf, circleator_png", "desc": "Comma separated list of tags that should be downloaded", "type": "restricted_string list", "type_params": {"choices": ["validation_changelog", "mugsy_mapped_features","mugsy_mapped_cogformat","cluster_fasta","workflow_xml_tag","mugsyalign_maf_tag","snps_file","wga_tree", "wga_tree_svg", "wga_tree_pdf", "summary_files", "summary_report", "sybil_archive", "circleator_pdf", "circleator_png"]}, "visibility": "default_hidden"}


[pipeline]
-include_in_section /opt/clovr_pipelines/common_config/pipeline.config

SOP_VERSION={"default": "clovr_comparative_2.0", "type": "string", "visibility": "always_hidden"}

PIPELINE_TEMPLATE={"default": "clovr_comparative", "visibility": "hidden", "desc": "The type of the pipeline we are running", "type": "string", "require_value": true}

#prestart,prerun,postrun are all run locally. Use noop.xml for no operation
#Prestart is run before cluster start
#Possible actions: tag input data and do QC metrics
PRESTART_TEMPLATE_XML={"default": "/opt/ergatis/docs/noop.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#PRESTART_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_mugsy/clovr_mugsy.prestart.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Prerun is run after cluster start but before pipeline start
#Possible actions: tag and upload data sets to the cluster
PRERUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.prerun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
#Postrun is run after pipeline completion and after download data
#Possible actions: local a local database, web browser.reorganize data for local ergatis
POSTRUN_TEMPLATE_XML={"default": "/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.postrun.xml", "visibility": "always_hidden", "type": "string", "require_value": true}

DOWNLOAD_TAG_ITERATOR_XML={"default": "/opt/ergatis/docs/clovrdownload_tag.iterator.xml", "visibility": "always_hidden", "type": "string", "require_value": true}
