[input]
INPUT_DIR=

PIPELINE_NAME=somefile_minitest

OUTPUT_PREFIX=somefile_mini
ORGANISM=some_organism

INPUT_TAG=SOMETAG
REFERENCE_DB_TAG=clovr-prok-db

[cluster]
CLUSTER_TAG=local
EXEC_NODES=10
CLOVR_CONF=clovr.conf
CLUSTER_TYPE=local

[output]
OUTPUT_DIRECTORY=/mnt/output
log_file=/mnt/prok_run.conf.log
debug_level=3

[pipeline]
PIPELINE_TEMPLATE=clovr_comparative
PIPELINE_ARGS=--INPUT_FILE_LIST=${input.INPUT_TAG}

PRESTART_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.prestart.xml

PRERUN_TEMPLATE_XML=/opt/clovr_pipelines/workflow/project_saved_templates/clovr_comparative/clovr_comparative.prerun.xml

POSTRUN_TEMPLATE_XML=/opt/ergatis/docs/noop.xml
