[create_map_file default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}

[genbank2bsml default]
$;INPUT_FILE_LIST$;=${input.INPUT_FILE_LIST}
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default
$;ORGANISM_TO_PREFIX_MAPPING$;=$;REPOSITORY_ROOT$;/output_repository/create_map_file/$;PIPELINEID$;_default/create_map_file.map.txt

[bsml2fasta default]
$;OUTPUT_FILE$;=db.fsa
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;USE_FEATURE_IDS_IN_FASTA$;=1
$;FORMAT$;=multi
$;CLASS_FILTER$;=polypeptide

[split_multifasta default]
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_default/bsml2fasta.fsa.list
$;SEQS_PER_FILE$;=10

[formatdb default]
$;INPUT_FILES$;=$;REPOSITORY_ROOT$;/output_repository/bsml2fasta/$;PIPELINEID$;_default/db.fsa

[ncbi-blastp default]
$;REVISION$;=$Revision: 6089 $
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_default
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/split_multifasta/$;PIPELINEID$;_default/split_multifasta.fsa.list
$;DATABASE_PATH$;=$;REPOSITORY_ROOT$;/output_repository/formatdb/$;PIPELINEID$;_default/db
$;FILTER$;=none
$;COMPRESS_RAW_OUTPUT$;=1
$;COMPRESS_BSML_OUTPUT$;=1

[jaccard default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default $;OUTPUT_DIRECTORY$; $;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default
$;MATCH_BSML_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.bsml.list 
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list 
$;USE_FEATURE_IDS_IN_FASTA$;=1
$;PCOVERAGE_CUTOFF$;=70

[muscle jaccard]
$;OUTPUT_TOKEN$;=jaccard
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/jaccard/$;PIPELINEID$;_default/jaccard.fsa.list
$;DESCRIPTION$;=Jaccard Paralog Clusters

[j_ortholog_clusters default]
$;STAGEDATA$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default $;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_jaccard $;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list $;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.bsml.list $;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_jaccard/muscle.bsml.list $;OUTPUT_DIRECTORY$;
$;MATCH_BSML_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.bsml.list
$;QUERY_BSML_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/genbank2bsml/$;PIPELINEID$;_default/genbank2bsml.bsml.list
$;JACCARD_OUTPUT_LIST$;=$;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_jaccard/muscle.bsml.list
$;USE_FEATURE_IDS_IN_FASTA$;=1
$;PCOVERAGE_CUTOFF$;=70

[muscle JOCs]
$;OUTPUT_TOKEN$;=JOCs
$;INPUT_FILE_LIST$;=$;REPOSITORY_ROOT$;/output_repository/j_ortholog_clusters/$;PIPELINEID$;_default/j_ortholog_clusters.fsa.list
$;DESCRIPTION$;=Ortholog Clusters

[tag_data default]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
#TAG_NAME       FILES
ncbi_blastp_raw	$;REPOSITORY_ROOT$;/output_repository/ncbi-blastp/$;PIPELINEID$;_default/ncbi-blastp.raw.list
jaccard_fasta	$;REPOSITORY_ROOT$;/output_repository/jaccard/$;PIPELINEID$;_default/jaccard.fsa.list
muscle_jaccard_raw	$;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_jaccard/muscle.raw.list	filetype=fasta
joc_fasta	$;REPOSITORY_ROOT$;/output_repository/j_ortholog_clusters/$;PIPELINEID$;_default/j_ortholog_clusters.fsa.list	filetype=fasta,refdb=blast
muscle_joc_raw	$;REPOSITORY_ROOT$;/output_repository/muscle/$;PIPELINEID$;_JOCs/muscle.raw.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;

