[split_file lgt_wrapper]
$;INPUT_FILE_LIST$;=${input.INPUT_FL}
$;NUM_FILES$;=${input.NUM_FILES}
$;LINES_PER_FILE$;=${input.LINES_PER_FILE}
$;OUTPUT_LIST$;=$;OUTPUT_DIRECTORY$;/split_file.list

[run_command lgt_wrapper]
$;INPUT_COMMAND$;=perl $;BIN_DIR$;/lgt_wrapper.pl
$;INPUT_ARGS$;=--input_list=$;REPOSITORY_ROOT$;/output_repository/split_file/$;PIPELINEID$;_lgt_wrapper/split_file.list --tags_to_upload=${input.REF_FILE1},${input.REF_FILE2} --output_directory=$;OUTPUT_DIRECTORY$; --data_output_directory=${input.REMOTE_OUTPUT} --user=${input.REMOTE_USER} --key=${input.REMOTE_KEY} --host=${input.REMOTE_HOST} --decrypt_script=${input.DECRYPT_SCRIPT} --num_retries=${input.NUM_RETRIES} --wait_time=${input.WAIT_TIME} --max_pipelines=${input.MAX_PIPES} --pipeline_parent=${pipeline.PIPELINE_WRAPPER_NAME} --child_config=clovr_lgt_bwa --child_config_params="-c input.REF_TAG1=${input.REF_TAG1} -c input.REF_TAG2=${input.REF_TAG2}" --tags_to_download=sam_files --credential=${cluster.CLUSTER_CREDENTIAL} 
