[prepare_paired_ends_for_velvet default]
$;SHORT_INPUT_LIST$; = ${input.SHORT_PAIRED_LIST}
$;LONG_INPUT_LIST$; = ${input.LONG_PAIRED_LIST}

[velvet_optimiser assembly]
$;SHORT$; = ${input.SHORT_INPUT_LIST}
$;LONG$; = ${input.LONG_INPUT_LIST}
$;START_HASH_LENGTH$; = ${input.START_HASH_LENGTH}
$;END_HASH_LENGTH$; = ${input.END_HASH_LENGTH}
$;OTHER_OPTIMISER_OPTS$; = -a yes -o "${input.VELVETG_OPTS} -min_contig_lgth 500"
