[prepare_paired_ends_for_velvet default]
$;LONG_INPUT_LIST$;=${input.LONG_PAIRED_LIST}
$;SHORT_INPUT_LIST$;=${input.SHORT_PAIRED_LIST}
$;NODISTRIB$; = 0

[velvet_optimiser assembly]
$;OTHER_OPTIMISER_OPTS$;=-a yes -o "${params.VELVETG_OPTS} -min_contig_lgth 500"
$;START_HASH_LENGTH$;=${params.START_HASH_LENGTH}
$;END_HASH_LENGTH$;=${params.END_HASH_LENGTH}
$;LONG$;=${input.LONG_INPUT_LIST}
$;SHORT$;=${input.SHORT_INPUT_LIST}
$;OUTPUT_TOKEN$;=assembly
$;LONG_PAIRED$;=$;REPOSITORY_ROOT$;/output_repository/prepare_paired_ends_for_velvet/$;PIPELINEID$;_default/long_reads.list
$;SHORT_PAIRED$;=$;REPOSITORY_ROOT$;/output_repository/prepare_paired_ends_for_velvet/$;PIPELINEID$;_default/short_reads.list
$;NODISTRIB$; = 0

[tag_data clovr_assembly_velvet]
$;PIPELINE_NAME$;=${pipeline.PIPELINE_NAME}
$;OUTPUT_TOKEN$;=clovr_assembly_velvet
$;MAP_FILE$;=$;TMP_DIR$;/$;PIPELINE_NAME$;_download.map.txt
$;INPUT$;=<<_EOT
assembly_contigs	$;REPOSITORY_ROOT$;/output_repository/velvet_optimiser/$;PIPELINEID$;_assembly/velvet_optimiser.fa.list
#################    Workflow xml download       ##########################
# paths for all the workflow xml dirs are written to /tmp/workflow_xml.txt#
# For further reference, see preprocessing commands in tag_data.xml       #
###########################################################################
workflow_xml_tag	$;TMP_DIR$;/$;PIPELINE_NAME$;_workflow_xml.txt
_EOT
$;PIPELINE_ID$;=$;PIPELINEID$;
$;REPO_ROOT$;=$;REPOSITORY_ROOT$;
$;GROUP_COUNT$; = 150
$;NODISTRIB$; = 1
